# Introduction

In [1]:
print("Hello python")

Hello python

# String Input and Output, String Slice, Variables

In [2]:
v="Hello Python"
print(v)

Hello Python

In [3]:
v="Hello python"
print(v[0])
print(v[1])
print(v[2])
print(v[3])
print(v[4])
print(v[5])

H
e
l
l
o

In [4]:
v="Hello python"
print(v[0:8])#v[firstIndext:pastIndex]
print(v[0:4])

Hello py
Hell

# Variables

In [5]:
#local variable
def sum():
    x=2
    y=3
    total=x+y
    return total
print(sum())

5

In [6]:
#globla variable
z=10#global variable
def sum():
    x=10#local variable
    total=x+z
    return total
print(sum())

def modify():
    z=7
    y=5
    return y+z
print(modify())

def modi():
    y=5
    return y+z
print(modi())

20
12
15

# Lists

In [7]:
item=[1,2,3,5,8,3,7,8,9]
print(type(item))
print(item)

item2=["A","C","B","D"]
print(item2)
print(type(item2))

print("Sort function")
resize=list(sorted(item))
print(resize)
resize2=list(sorted(item2))
print(resize2)


print("Reverse number.")
re=list(reversed(resize))
print(re)

print("adding system")
resize.append(12)
print(resize)

print("remove")
resize.remove(1)
print(resize)

print(".................................")
a={1,2,3,4,5}
print(type(a))

<class 'list'>
[1, 2, 3, 5, 8, 3, 7, 8, 9]
['A', 'C', 'B', 'D']
<class 'list'>
Sort function
[1, 2, 3, 3, 5, 7, 8, 8, 9]
['A', 'B', 'C', 'D']
Reverse number.
[9, 8, 8, 7, 5, 3, 3, 2, 1]
adding system
[1, 2, 3, 3, 5, 7, 8, 8, 9, 12]
remove
[2, 3, 3, 5, 7, 8, 8, 9, 12]
.................................
<class 'set'>

# If statements

In [8]:
old=int(input("Enter youe age:"))
if old>30:
    print("You are older.")
elif old>20:
    print("you are middel  age people.")
else:
    print("You are younger.")

Enter youe age:12
You are younger.

# Finding Even - Odd number by Python

In [9]:
num=int(input("Enter the positive number:"))
if num%2==0:
    print(num,"is an even number.")
    print(str(num)+" is an even number.")
else:
    print(num,"is an odd number.")
    print(str(num) + " is an odd number.")

Enter the positive number:3
3 is an odd number.
3 is an odd number.

# Symbols

In [10]:
2+3

5

In [11]:
a=2
a+=2
print(a)

4

In [12]:
2-5

-3

In [13]:
s=4
s-=44
print(s)

-40

In [14]:
p=2**3
print(p)
p**=3
print(p)

8
512

In [15]:
8**3

512

In [16]:
44/3

14.666666666666666

In [17]:
d=5/3
d/=2
print(d)

0.8333333333333334

In [18]:
5/3

1.6666666666666667

In [19]:
5%3

2

In [20]:
2>3

False

# Sum a sequence of numbers

In [21]:
"""
1+2+3+4+5=n(n+1)/2=15
5(5+1)/2=15
"""
a=int(input("Enter the first number:"))
b=int(input("Enter the last number:"))
total=b*(b+1)/2
print("Sum :",total)

result=0
for i in range(a,b+1):
    result=result+i
print("Sum:",result)

Enter the first number:1
Enter the last number:5
Sum : 15.0
Sum: 15

In [22]:
1+2+3+4+5

15

# Symbols

In [23]:
22//2

11

In [24]:
23//2

11

In [25]:
3!=2

True

In [26]:
4!=4

False

# Floor Division

In [28]:
8/4

2.0

In [29]:
8//2

4

In [30]:
11/5

2.2

In [31]:
11//5#floor---//

2

# functions

In [32]:
def add(x):
    return x**2
print(add(3))

9

In [33]:
a=int(input("Enter the first number:"))
b=int(input("Enetr the second number:"))

def add():
    total=a+b
    print("Total number:",total)

def sub():
    total=a-b
    print("Result:",total)
    
def mul():
    total=a*b
    print("Multiple:",total)

def main():
    add()
    sub()
    mul()

main()

Enter the first number:34
Enetr the second number:2
Total number: 36
Result: 32
Multiple: 68

# Scope

In [34]:
num=20
def hamid():
    num=15
    return num

def hosen():
    num=10
    return num


fun1=hamid()
fun2=hosen()
print(fun1)
print(fun2)

15
10

# Tuples

In [35]:
v=(12,"Hamid","Hosen",3)
print(type(v))
print(v[0])
print(v[1])
print(v[2])
v[0]=120
print(v)

<class 'tuple'>
12
Hamid
Hosen

TypeError: 'tuple' object does not support item assignment

# For Loop

In [36]:
for i in range(1,50+1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [37]:
for i in range(1,50+1):
    if i%2==0:
        print("This number is even:",i)
    else:
        print("This number is odd:",i)

This number is odd: 1
This number is even: 2
This number is odd: 3
This number is even: 4
This number is odd: 5
This number is even: 6
This number is odd: 7
This number is even: 8
This number is odd: 9
This number is even: 10
This number is odd: 11
This number is even: 12
This number is odd: 13
This number is even: 14
This number is odd: 15
This number is even: 16
This number is odd: 17
This number is even: 18
This number is odd: 19
This number is even: 20
This number is odd: 21
This number is even: 22
This number is odd: 23
This number is even: 24
This number is odd: 25
This number is even: 26
This number is odd: 27
This number is even: 28
This number is odd: 29
This number is even: 30
This number is odd: 31
This number is even: 32
This number is odd: 33
This number is even: 34
This number is odd: 35
This number is even: 36
This number is odd: 37
This number is even: 38
This number is odd: 39
This number is even: 40
This number is odd: 41
This number is even: 42
This number is odd: 43
This number is even: 44
This number is odd: 45
This number is even: 46
This number is odd: 47
This number is even: 48
This number is odd: 49
This number is even: 50

# While Loop

In [39]:
love=""
while love!="yes":
    love=input("Do you love me?? (Enter yes or no):")
    if love=="yes":
        print("I love you too.")
    else:
        print("Please try to understand me,I love you too much.")

password=""
while password!="12345":
    password=input("Enter yor password:")
    if password=="12345":
        print("Your password correct.")
    else:
        print("Your password incorrect.")

Do you love me?? (Enter yes or no):no
Please try to understand me,I love you too much.
Do you love me?? (Enter yes or no):yes
I love you too.
Enter yor password:123
Your password incorrect.
Enter yor password:12345
Your password correct.

# Nested Loop

In [40]:
for i in range(5):
    print("................................")
    for v in range(1,5):
        print(v)

................................
1
2
3
4
................................
1
2
3
4
................................
1
2
3
4
................................
1
2
3
4
................................
1
2
3
4

In [41]:
v=0
for i in range(5):
    while v<5:
        v=v+1
        print("....................")
        print("Hello word")

....................
Hello word
....................
Hello word
....................
Hello word
....................
Hello word
....................
Hello word

# Conversion Functions

In [42]:
a=int(input("Enter your number:"))
print(a)
a=int("22")
b=int("23")
c=a+b
print(c)

Enter your number:22
22
45

# Reading from a file

In [45]:
with open('hamid.txt','r') as file:
    text=file.readlines()
    print(text)

['Sadi -Lacturer of EEE\n', 'Sadi -Lacturer of EEE']

In [46]:
with open('hamid.txt','r') as file:
    text=file.readlines()
    for line in text:
        print(line)

Sadi -Lacturer of EEE

Sadi -Lacturer of EEE

In [47]:
with open('hamid.txt','r') as file:
    text=file.read().splitlines()
    for line in text:
        print(line)

Sadi -Lacturer of EEE
Sadi -Lacturer of EEE

In [48]:
filepath="hamid.txt"

with open(filepath,'r') as file:
    text=file.read().splitlines()
    for line in text:
        print(line)

Sadi -Lacturer of EEE
Sadi -Lacturer of EEE

In [49]:
filepath="hamid.txt"

with open(filepath) as file:
    text=file.read().splitlines()
    for line in text:
        print(line)

Sadi -Lacturer of EEE
Sadi -Lacturer of EEE

In [50]:
import os.path
filepath="hamid.txt"
if os.path.isfile(filepath):
    print("There is no that file name.")
else:
    with open(filepath, 'r') as file:
        text = file.read().splitlines()
        for line in text:
            print(line)

There is no that file name.

In [51]:
import os.path
filepath="hamid.txt"
if not os.path.isfile(filepath):
    print("There is no that file name.")
else:
    with open(filepath, 'r') as file:
        text = file.read().splitlines()
        for line in text:
            print(line)

Sadi -Lacturer of EEE
Sadi -Lacturer of EEE

In [52]:
import os.path
filepath="hamid.txt"
if not os.path.isfile(filepath):
    print("There is no that file name.")
else:
    with open(filepath, 'r') as file:
        text = file.read().splitlines()
        num=0
        for line in text:
            num+=1
            print(str(num)+" "+line)

1 Sadi -Lacturer of EEE
2 Sadi -Lacturer of EEE

# Fun with While Loop and Open() Function

In [63]:
with open("hamid.txt","r") as file:
    text=file.read().splitlines()
    print(text)

['python', 'python123']

In [64]:
with open("hamid.txt","r") as file:
    text=file.read().splitlines()
    username=""
    password=""
    print(text)
    while username!=text[0] and password!=text[1]:
        username=input("Enter your username:")
        password=input("Enter your password:")
        if username==text[0] and password==text[1]:
            print("logic succes.")
        else:
            print("Usename/password is incorrect")

['python', 'python123']
Enter your username:hamid
Enter your password:hosen
Usename/password is incorrect
Enter your username:python
Enter your password:python123
logic succes.

# Writing a text file

In [65]:
file="hamid.txt"
with open(file,'w') as newfile:
    newfile.write("Hello , I am Python . Bla bla bla")
    newfile.close()

# Write a file in binary mode

In [72]:
with open("hamid.txt","wb") as file:
    file.write(str.encode("I am Bangladesh."))
    file.close()

In [73]:
with open("hamid.txt","rb") as file:
    #file.write(str.encode("I am Bangladesh."))
    t=file.read()
    print(t)
    file.close()

b'I am Bangladesh.'

In [74]:
with open("hamid.txt","rb") as file:
    #file.write(str.encode("I am Bangladesh."))
    t=file.read()
    text=bytes.decode(t)
    print(text)
    file.close()

I am Bangladesh.

# Sets

In [75]:
a={1,2,3}
b={"python",2.0,(1,2,3)}
print("a:",a)
print("b:",b)

a: {1, 2, 3}
b: {2.0, (1, 2, 3), 'python'}

In [76]:
a={1,2,3}
b={"python",2.0,(1,2,3)}
print("a:",a)
print("b:",b)
print("....................")

a=set({1,2,3,3,4,4,5,6})
print(a)

a: {1, 2, 3}
b: {2.0, (1, 2, 3), 'python'}
....................
{1, 2, 3, 4, 5, 6}

In [77]:
a={1,2,3}
b={"python",2.0,(1,2,3)}
print("a:",a)
print("b:",b)
print("....................")

a=set({1,2,3,3,4,4,5,6})
print(a)
print("add element...........")
a.add(12)
print(a)

a: {1, 2, 3}
b: {2.0, (1, 2, 3), 'python'}
....................
{1, 2, 3, 4, 5, 6}
add element...........
{1, 2, 3, 4, 5, 6, 12}

In [78]:
a={1,2,3}
b={"python",2.0,(1,2,3)}
print("a:",a)
print("b:",b)
print("....................")

a=set({1,2,3,3,4,4,5,6})
print(a)
print("add element...........")
a.add(12)
print(a)

print("more item in out by using update()")
a.update({13,14,15})
print(a)

a: {1, 2, 3}
b: {2.0, (1, 2, 3), 'python'}
....................
{1, 2, 3, 4, 5, 6}
add element...........
{1, 2, 3, 4, 5, 6, 12}
more item in out by using update()
{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}

In [79]:
a={1,2,3}
b={"python",2.0,(1,2,3)}
print("a:",a)
print("b:",b)
print("....................")

a=set({1,2,3,3,4,4,5,6})
print(a)
print("add element...........")
a.add(12)
print(a)

print("more item in out by using update()")
a.update({13,14,15})
print(a)

print("Remove item :.............")
a.remove(1)
print(a)

a: {1, 2, 3}
b: {2.0, (1, 2, 3), 'python'}
....................
{1, 2, 3, 4, 5, 6}
add element...........
{1, 2, 3, 4, 5, 6, 12}
more item in out by using update()
{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}
Remove item :.............
{2, 3, 4, 5, 6, 12, 13, 14, 15}

In [80]:
a={1,2,3}
b={"python",2.0,(1,2,3)}
print("a:",a)
print("b:",b)
print("....................")

a=set({1,2,3,3,4,4,5,6})
print(a)

print("add element...........")
a.add(12)
print(a)

print("more item in out by using update()")
a.update({13,14,15})
print(a)

print("Remove item :.............")
a.remove(1)
print(a)

print("Remove item frpm out set using discard():")
a.discard(18)
print(a)

a: {1, 2, 3}
b: {2.0, (1, 2, 3), 'python'}
....................
{1, 2, 3, 4, 5, 6}
add element...........
{1, 2, 3, 4, 5, 6, 12}
more item in out by using update()
{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}
Remove item :.............
{2, 3, 4, 5, 6, 12, 13, 14, 15}
Remove item frpm out set using discard():
{2, 3, 4, 5, 6, 12, 13, 14, 15}

In [81]:
a={1,2,3}
b={"python",2.0,(1,2,3)}
print("a:",a)
print("b:",b)
print("....................")

a=set({1,2,3,3,4,4,5,6})
print(a)

print("add element...........")
a.add(12)
print(a)

print("more item in out by using update()")
a.update({13,14,15})
print(a)

print("Remove item :.............")
a.remove(1)
print(a)

print("Remove item frpm out set using discard():")
a.discard(2)
print(a)

print("clear() method.......")
a.clear()
print(a)

a: {1, 2, 3}
b: {2.0, (1, 2, 3), 'python'}
....................
{1, 2, 3, 4, 5, 6}
add element...........
{1, 2, 3, 4, 5, 6, 12}
more item in out by using update()
{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}
Remove item :.............
{2, 3, 4, 5, 6, 12, 13, 14, 15}
Remove item frpm out set using discard():
{3, 4, 5, 6, 12, 13, 14, 15}
clear() method.......
set()

# Sets part

In [82]:
a={1,2,3}
b={2,3,4,5}
print("union set............")
print(a|b)
#union()method
print(a.union(b))

print("Intersection set.....")
A={1,2,3}
B={3,4,5}
print(A&B)
#Intersection() method
print(A.intersection(B))

A={1,2,3}
B={3,4,5}
print(A-B)
print(A.difference(B))
print(B.difference(A))

print("Subset................")
A={1,2,3,4}
B={1,2,3}
print(A.issubset(B))
print(B.issubset(A))

print('Set membership test....')
me=set("Python")
print("P" in me)
print("a" not in me)
print("a" in me)

union set............
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
Intersection set.....
{3}
{3}
{1, 2}
{1, 2}
{4, 5}
Subset................
False
True
Set membership test....
True
True
False

# Frozenset

In [83]:
v=frozenset({1,2,3})
print(type(v))
print(hash(v))

print("...................................")
A=frozenset({2,3,4,5})
B=frozenset({1,5,6,7})
print(A|B)
print(A.union(B))

<class 'frozenset'>
-272375401224217160
...................................
frozenset({1, 2, 3, 4, 5, 6, 7})
frozenset({1, 2, 3, 4, 5, 6, 7})

# Prime number checker

In [84]:
num=int(input("Enter the number:"))
def primenumber(num):
    if num<2:
        return False
    else:
        if num==2:
            return True
        else:
            for i in range(2,num):
                if num%i==0:
                    return False
                return True

print(primenumber(num))

Enter the number:3
True

In [85]:
num=int(input("Enter the number:"))
def primenumber(num):
    if num<2:
        return False
    else:
        if num==2:
            return True
        else:
            for i in range(2,num):
                if num%i==0:
                    return False
                return True

if primenumber(num) is True:
    print(str(num)," is a prime number.")
else:
    print(str(num),"is not prime number.")

Enter the number:7
7  is a prime number.

# Dictionary

In [86]:
a={}
print(type(a))

b={"name":"Python","languge":"Java"}
print(b)

b={"name":"Python","languge":"Java",1:{1,2,3,46,6}}
print(b)
#access
print(b[1])
print(b["name"])

<class 'dict'>
{'name': 'Python', 'languge': 'Java'}
{'name': 'Python', 'languge': 'Java', 1: {1, 2, 3, 6, 46}}
{1, 2, 3, 6, 46}
Python

In [87]:
a={}
print(type(a))
print("..........................")
b={"name":"Python","languge":"Java"}
print(b)
print("..........................")
b={"name":"Python","languge":"Java",1:{1,2,3,46,6}}
print(b)
#access
print(b[1])
print(b["name"])

b["country"]="bangladesh"
print(b)

b[1]="7"
print(b)

print(b.pop(1))
print(b)

print(b.popitem())

del b["name"]
print(b)

print("........................")
b={"name":"Python","languge":"Java"}
print(b)

b.clear()
print(b)

print(any(b))
print(all(b))
print("..........................")
v={"country":"bangladesh","Name":"Hamid"}
print(len(v))

a={1:2,2:3}
print(sorted(a))

d={a:a**2 for a in range(1,6)}
print(d)

<class 'dict'>
..........................
{'name': 'Python', 'languge': 'Java'}
..........................
{'name': 'Python', 'languge': 'Java', 1: {1, 2, 3, 6, 46}}
{1, 2, 3, 6, 46}
Python
{'name': 'Python', 'languge': 'Java', 1: {1, 2, 3, 6, 46}, 'country': 'bangladesh'}
{'name': 'Python', 'languge': 'Java', 1: '7', 'country': 'bangladesh'}
7
{'name': 'Python', 'languge': 'Java', 'country': 'bangladesh'}
('country', 'bangladesh')
{'languge': 'Java'}
........................
{'name': 'Python', 'languge': 'Java'}
{}
False
True
..........................
2
[1, 2]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Break and Continue statements

In [88]:
for num in range(1,11):
    if num==5:
        break
    print(num)

print("..............")

for num in range(1,11):
    if num==5:
        continue
    print(num)

1
2
3
4
..............
1
2
3
4
6
7
8
9
10

# Pass Statement

In [89]:
def wopass():
    x=12
    return x
print(wopass())

def opass():
    pass
print(opass())

class opass:
    pass

"""Hello"""

12
None

'Hello'

# Python args and kwargs

In [90]:
def python(a,b):
    v=a+b
    print("Normal way args:",v)

python(2,3)

def python2(*args):
    s=args*2
    v=a*2
    print("double tuple making:",s)
    print(v)

a=(1,2,3,4)
python2(a)

def python3(**kwargs):
    print("Keyword argument:",kwargs)

d={"Country":"Bangladesh","Capital":"Dhaka"}
python3(Name="Hamid",Home="Satkania")
python3(**d)

Normal way args: 5
double tuple making: ((1, 2, 3, 4), (1, 2, 3, 4))
(1, 2, 3, 4, 1, 2, 3, 4)
Keyword argument: {'Name': 'Hamid', 'Home': 'Satkania'}
Keyword argument: {'Country': 'Bangladesh', 'Capital': 'Dhaka'}

# PyCharm with an Example

In [94]:
#TODO:sum=1+2+3=6
n=123
s=str(n)
total=int(s[0])+int(s[1])+int(s[2])
print("Index method:",total)

l=list(map(int,s))
print("Check list:",l)
j=0
for i in l:
    j=j+i
print(j)

print(sum(map(int,s)))

Index method: 6
Check list: [1, 2, 3]
6

TypeError: sum() takes 0 positional arguments but 1 was given

# Object-Oriented Programming Part -01

In [95]:
"""
OPP=Object Oriented Programming
1.class
"""
class NameClass():
    name = ""

    def test(self):
        return True

name_obj = NameClass()

class NewClass(NameClass):
    def shape(self):
        pass

new_obj=NewClass()

# Classes & Objects OOP Part -02

In [96]:
class Human():
    """
    we are collection contact information
    """
    name="Hamid Hosen"
    age="21"
    phone="010334346"

    #method
    def __str__(self):
        return self.name

human_obj=Human()
print("Showing name of the class:",human_obj)
print("......................................")
print("Name:",human_obj.name,"Age:",human_obj.age,"Phone number:",human_obj.phone)

Showing name of the class: Hamid Hosen
......................................
Name: Hamid Hosen Age: 21 Phone number: 010334346

In [97]:
class Human():
    """
    we are collection contact information
    """
    #method
    def __init__(self,name,age,phone):
        self.name=name
        self.age=age
        self.phone=phone


    def __str__(self):
        return self.name

human_obj=Human("Hamid Hosen","15","8287368")
print("Showing name of the class:",human_obj)
print("......................................")
print("Name:",human_obj.name,"Age:",human_obj.age,"Phone number:",human_obj.phone)

Showing name of the class: Hamid Hosen
......................................
Name: Hamid Hosen Age: 15 Phone number: 8287368

In [98]:
class Human():
    """
    we are collection contact information
    """
    #method
    def __init__(self,*name):
        self.name=name

name="Hamid","python","English"
human_obj=Human(*name)
print("Showing name of the class:",human_obj)
print("......................................")
print("Name:",human_obj.name)

Showing name of the class: <__main__.Human object at 0x0000021ACB2EEB80>
......................................
Name: ('Hamid', 'python', 'English')

In [99]:
class Human():
    """
    we are collection contact information
    """
    #method
    def __init__(self,*name):
        self.name=name

name="Hamid","python","English"
human_obj=Human(*name)

print("Length=",len(human_obj.name))

for i in human_obj.name:
    print(i)

print(dir(human_obj))

print(human_obj.__doc__)

Length= 3
Hamid
python
English
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'name']

    we are collection contact information

# Inheritance OOP

In [100]:
class Person(object):
    """
    Bla bla
    """
    salary_in=1.2
    def __init__(self,name,age,salary,profession):
        self.name=name
        self.age=age
        self.salary=salary
        self.profession=profession

    def get_name(self):
        return self.name

    def get_age(self):
        return self.age

    def get_salary(self):
        return self.salary

    def get_profession(self):
        return self.profession

    def salary_increment(self):
        return self.salary*self.salary_in

class Men(Person):
    salary_in = 1.3

    def __init__(self,name,age,salary,profession,gender):
        #super(Men,self).__init__(self,name,age,salary,profession)
        super().__init__(name, age, salary, profession)
        self.gender=gender

    def man_full_info(self):
        return "Name: {},Age:{},Profession:{}".format(self.name,self.age,self.profession)

class Women(Person):
    salary_in = 1.4

    def __init__(self,name,age,salary,profession,gender):
        #super(Women,self).__init__(self,name,age,salary,profession)
        super().__init__(name, age, salary, profession)
        self.gender=gender

    def women_full_info(self):
        return "Name: {},Age:{},Profession:{}".format(self.name, self.age, self.profession)

class Manager(Person):

    def __init__(self,name,age,salary,profession,person=None):
        #super(Women,self).__init__(self,name,age,salary,profession)
        super().__init__(name, age, salary, profession)
        if person is None:
            self.person=[]
        else:
            self.person=person

    def total_person(self):
        return len(self.person)

man_1=Men("Hamid Hosen",25,400000,"Programmer","Male")
women_1=Women("Farjana Akter",25,400000,"Programmer","Female")
manager_1=Manager("Hamid Hosen",25,400000,"Programmer",[man_1,women_1])

print("..............................................................................")
print("Man:",man_1.get_name(),man_1.get_age(),man_1.get_salary(),man_1.get_profession())
print("Women:",women_1.get_name(),women_1.get_age(),women_1.get_salary(),women_1.get_profession())
print("Man:",man_1.man_full_info())
print("Women:",women_1.women_full_info())
print(">>>>>>>>>>>>>.>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")

print("Manager:",manager_1.total_person())

print("Man:",man_1.salary_increment())
print("Women:",women_1.salary_increment())

..............................................................................
Man: Hamid Hosen 25 400000 Programmer
Women: Farjana Akter 25 400000 Programmer
Man: Name: Hamid Hosen,Age:25,Profession:Programmer
Women: Name: Farjana Akter,Age:25,Profession:Programmer
>>>>>>>>>>>>>.>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Manager: 2
Man: 520000.0
Women: 560000.0

# Inheritance (2)

In [101]:
class Person(object):
    """
    Bla bla
    """
    salary_in=1.2
    def __init__(self,name,age,salary,profession):
        self.name=name
        self.age=age
        self.salary=salary
        self.profession=profession

    def get_name(self):
        return self.name

    def get_age(self):
        return self.age

    def get_salary(self):
        return self.salary

    def get_profession(self):
        return self.profession

    def salary_increment(self):
        return self.salary*self.salary_in

class Men(Person):
    salary_in = 1.3

    def __init__(self,name,age,salary,profession,gender):
        #super(Men,self).__init__(self,name,age,salary,profession)
        super().__init__(name, age, salary, profession)
        self.gender=gender

    def man_full_info(self):
        return "Name: {},Age:{},Profession:{}".format(self.name,self.age,self.profession)

class Women(Person):
    salary_in = 1.4

    def __init__(self,name,age,salary,profession,gender):
        #super(Women,self).__init__(self,name,age,salary,profession)
        super().__init__(name, age, salary, profession)
        self.gender=gender

    def women_full_info(self):
        return "Name: {},Age:{},Profession:{}".format(self.name, self.age, self.profession)

class Manager(Person):

    def __init__(self,name,age,salary,profession,person=None):
        #super(Women,self).__init__(self,name,age,salary,profession)
        super().__init__(name, age, salary, profession)
        if person is None:
            self.person=[]
        else:
            self.person=person

    def add_person(self,per):
        if per not in self.person:
            self.person.append(per)

    def remove_person(self, per):
        if per  in self.person:
            self.person.remove(per)

    def full_name(self):
        for per in self.person:
            #name=per.get_name()
            #return name
            print(per.get_name())
        return True

    def total_person(self):
        return len(self.person)

man_1=Men("Hamid Hosen",25,400000,"Programmer","Male")
women_1=Women("Farjana Akter",25,400000,"Programmer","Female")
manager_1=Manager("Hamid Hosen",25,400000,"Programmer",[man_1,women_1])
manager_1.add_person(man_1)
manager_1.remove_person(man_1)
print("..............................................................................")
print("Man:",man_1.get_name(),man_1.get_age(),man_1.get_salary(),man_1.get_profession())
print("Women:",women_1.get_name(),women_1.get_age(),women_1.get_salary(),women_1.get_profession())
print("Man:",man_1.man_full_info())
print("Women:",women_1.women_full_info())
print(">>>>>>>>>>>>>.>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")

print("Manager:",manager_1.total_person())
print("Manager:",manager_1.full_name())

print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")
print("Man:",man_1.salary_increment())
print("Women:",women_1.salary_increment())

print("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<")
print(dir(manager_1))

..............................................................................
Man: Hamid Hosen 25 400000 Programmer
Women: Farjana Akter 25 400000 Programmer
Man: Name: Hamid Hosen,Age:25,Profession:Programmer
Women: Name: Farjana Akter,Age:25,Profession:Programmer
>>>>>>>>>>>>>.>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Manager: 1
Farjana Akter
Manager: True
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Man: 520000.0
Women: 560000.0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'add_person', 'age', 'full_name', 'get_age', 'get_name', 'get_profession', 'get_salary', 'name', 'person', 'profession', 'remove_person', 'salary', 'salary_in', 'salary_increment', 'total_person']

# Instance, Static Method and Class Method

In [102]:
"""
Instance, Static Method and Class Method
"""
class Computer:
    os_version=10
    def __init__(self, brand_name, os_name, os_version):
        self.brand_name = brand_name
        self.os_name = os_name
        self.os_version = os_version

    def display_info(self):
        return self.brand_name +" "+self.os_name +" "+ str(self.os_version)

    @staticmethod
    def static_method(x,y):
        return x+y

    @classmethod
    def class_method(cls,brand_name, os_name, os_version):
        full_info=cls(brand_name,os_name,cls.os_version + os_version)
        return full_info

comp_obj=Computer("Dell","Windows","10")
print(comp_obj.display_info())

print(comp_obj.static_method(10,20))

one_obj=comp_obj.class_method("MP","Ubuntu",7)
print(one_obj)
print(one_obj.display_info())

Dell Windows 10
30
<__main__.Computer object at 0x0000021ACB2EE5E0>
MP Ubuntu 17