Python is an interpreted, high-level, and general-purpose programming language. Created by Guido van Rossum and first released in 1991. Python has a simple syntax similar to the English language. Python has a syntax that allows developers to write programs with fewer lines than some other programming languages. Python runs on an interpreter system, meaning that code can be executed as soon as it is written.

# Introduction to Python Variables || Variable Explained

Q: পাইথন প্রোগ্রামিং (Python Programming) দিয়ে কি কাজ করা যায় ?? Ans: পাইথন (Python) একটি বস্তু-সংশ্লিষ্ট (Object Oriented) উচ্চস্তরের (High Level) প্রোগ্রামিং ভাষা (Programming Language)। ১৯৯১ সালে গুইডো ভ্যান রস্যিউম এটি প্রথম প্রকাশ করেন। পাইথন নির্মাণ করার সময় প্রোগ্রামের পঠনযোগ্যতার উপর বেশি গুরুত্ব দেয়া হয়েছে। এখানে প্রোগ্রামারের পরিশ্রমকে কম্পিউটারের চেয়ে বেশি গুরুত্ব দেয়া হয়েছে। ভবিষ্যৎ প্রযুক্তির ভিত্তি ডাটা সায়েন্স (Data Science) ও মেশিন লার্নিং (Machine Learning), সর্বোপরি আর্টিফিশিয়াল ইন্টেলিজেন্স (AI) নিয়ে কাজ করতে চাইলে পাইথন প্রোগ্রামিং হতে পারে নির্দ্বিধায় আপনার প্রথম পছন্দ। কারণ- scikit-learn এর মতো মেশিন লার্নিং (Machine Learning) লাইব্রেরী, Pandas এর মতো ডাটা ফ্রেম লাইব্রেরী এবং Numpy এর মতো ক্যালকুলেশন লাইব্রেরী এসবই আছে পাইথনের (Python) জন্য। আরো নির্দিষ্ট করে বলতে গেলে পাইথন (Python) এর উপর ভিত্তি করে- Django, Tornado, Flask ইত্যাদি ফ্রেমওয়ার্ক এর মাধ্যমে আপনি খুব সহজেই ওয়েব অ্যাপ্লিকেশন ডেভেলপমেন্ট করতে পারবেন। আর গেমস ডেভেলপমেন্ট করতে চাইলে আপনার জন্য রয়েছে PyGame. আপনি যদি Internet of Things (IoT) নিয়ে কাজ করতে চান, তাহলে আপনার জন্য রয়েছে RPi.GPIO বা Raspberrypi এর মত হার্ডওয়্যার প্ল্যাটফর্ম। আবার গ্রাফিক্যাল ইউজার ইন্টারফেইস (GUI) সমৃদ্ধ সফটওয়্যার ডেভেলপমেন্টের জন্য এই ল্যাঙ্গুয়েজ এর উপর ভিত্তি করে আপনার জন্য রয়েছে Tkinter এর মত প্যাকেজ বা PyQT এর মত টুলকিট। আরো রয়েছে Kivy এর মতো লাইব্রেরী। Tk, PyQt, PyGTK ইত্যাদি দিয়ে ডেস্কটপ অ্যাপ ডেভেলপমেন্ট বেশ ভালোই চলছে। Kivy দিয়ে কিছু কাজ হলেও মোবাইল অ্যাপের বিশাল বাজারে পাইথনের (Python) দখল প্রায় নেই বললেই চলে। এটি পাইথনের (Python) একটি বড় সীমাবদ্ধতা। বর্তমানে পাইথনের সবচেয়ে বড় বাজার হচ্ছে ওয়েব প্রোগ্রামিং (Web Programming)। তুলনামূলকভাবে অনেক সহজ হওয়ায় শিশুদের প্রোগ্রামিংয়ের সাথে পরিচয় করাতে বেশিরভাগ ক্ষেত্রেই পাইথন (Python) ব্যবহার করা হয়। দৈনন্দিন বিভিন্ন বিরক্তিকর কাজ, যেগুলো বারবার করতে হয়, সেগুলো অটোমেট করতে পাইথন (Python) ব্যবহার করা হচ্ছে।

In [1]:
print(2)

2

In [2]:
print('Hamid Hosen')

Hamid Hosen

In [3]:
x=2
y='Hamid Hosen'

print(x)
print(y)

2
Hamid Hosen

In [4]:
x=2
y='Hamid Hosen'
x=5

print(x)
print(y)

5
Hamid Hosen

In [5]:
x,y,z=1,2,3
print(x)
print(x,y)
print(x,y,z)

1
1 2
1 2 3

# Memory Management for Python Variables ||Study Mart

In [6]:
x=100
print(x)

100

In [7]:
print(id(x))

140726335320960

In [8]:
y=x;
print(id(y))
print(id(x))
print(id(100))

140726335320960
140726335320960
140726335320960

In [9]:
x=10
y=90
z=10+90

print(id(x))
print(id(y))
print(id(z))

140726335318080
140726335320640
140726335320960

In [10]:
print(id('Hamid'))

2295746918576

# Escape Sequence & Comments in Python

In [11]:
x='Hamid Hosen'
y="EDU"
z=191002012

print(x)

Hamid Hosen

In [12]:
x='Hamid Hosen'
y="EDU"
z=191002012
#r=3903

print(r)

NameError: name 'r' is not defined

# Multiline comment

In [13]:
'''
x=Md.Hamid Hosen
East Delta University
CSE

print(x)

'''

'\nx=Md.Hamid Hosen\nEast Delta University\nCSE\n\nprint(x)\n\n'

# Escape Sequence

In [14]:
print("Hamid \nHosen")

Hamid
Hosen

In [15]:
print('Hamid\'s Hosen')

Hamid's Hosen

In [16]:
print('Hamid\'s "Hosen"')

Hamid's "Hosen"

In [17]:
print('Hamid\'s \\n Hosen')

Hamid's \n Hosen

# Data Types in Python

In [18]:
x=10
type(x)

int

In [19]:
x=5.5
print(type(x))

<class 'float'>

In [20]:
x=4+4j
print(type(x))

<class 'complex'>

In [21]:
x=5
y=8

print(type(x==y))

<class 'bool'>

In [22]:
x='Hamid Hosen'
print(type(x))

<class 'str'>

In [23]:
x=[1,2,3,4,5]
print(type(x))

<class 'list'>

In [24]:
x=(1,2,3,4,5)
print(type(x))

<class 'tuple'>

In [25]:
x={1,2,3,4,5}
print(type(x))

<class 'set'>

# User input in Python

In [26]:
x=10
y=3
z=x*y

print(z)

30

In [27]:
x=input()

34

In [28]:
x=input('Enter any number:')

Enter any number:34

In [29]:
x=input('Enter any number:')
y=input('Enter any number:')

z=x+y

print(z)

Enter any number:4
Enter any number:5
45

In [30]:
print(type(z))

<class 'str'>

In [31]:
a=int(input("Enter any number:"))
b=int(input('Enter any number:'))

z=a+b

print(z)

Enter any number:3
Enter any number:4
7

In [32]:
a=float(input("Enter any number:"))
b=float(input('Enter any number:'))

z=a+b

print(z)

Enter any number:3.5
Enter any number:3.5
7.0

# Operators in Python

# Arithmetic Operator

In [33]:
a=10
b=3

print(a+b)

13

In [34]:
print(a-b)

7

In [35]:
print(a*b)

30

In [36]:
print(a/b)

3.3333333333333335

In [37]:
print(a%b)

1

In [38]:
print(a**b)

1000

In [39]:
print(a//b)

3

# Assignment Operator

In [41]:
a=10
b=3
c=a+b#Assignment Operator
print(c)

13

In [42]:
a=10
b=3
c=a+b#Assignment Operator
c+=a#c=c+a
print(c)

23

# Relational Operator

In [43]:
x=5
y=3

print(a<b)

False

In [44]:
print(a<=b)

False

In [45]:
print(a>b)

True

In [46]:
print(a>=b)

True

In [47]:
print(a==b)

False

In [48]:
print(a!=b)

True

# Logical Operator

In [49]:
a=5
b=3

c=a>b or a<b

print(c)

True

In [50]:
a=5
b=3

c=a>b and a<b

print(c)

False

# Unary Operator

In [51]:
a=10
b=1
c=5
c=-c

print(c)

-5

In [52]:
a=10
b=1
c=5
c=-c
c=-c

print(c)

5

# Strings in Python

In [53]:
a="Hamid Hosen"
print(a)

Hamid Hosen

In [54]:
print(a[0])

H

In [55]:
print(a[2:5])

mid

In [56]:
print(a[-7:-3])

d Ho

In [57]:
print(len(a))

11

In [58]:
a="  Hamid Hosen"
print(a)

  Hamid Hosen

In [59]:
print(a.strip())

Hamid Hosen

In [60]:
a="Hamid Hosen"
print(a.upper())

HAMID HOSEN

In [61]:
a="Hamid Hosen"
print(a.lower())

hamid hosen

In [62]:
name="Hamid Hosen Azad"
print(name.split())

['Hamid', 'Hosen', 'Azad']

In [64]:
a="Hamid Azad"
print(a.replace("Azad","Hosen"))

Hamid Hosen

# Arrays in Python

In [65]:
from array import *
salary=array('i',[100,200,300,400])
print(salary)

array('i', [100, 200, 300, 400])

In [66]:
print(salary[0])

100

In [67]:
for i in salary:
    print(i)

100
200
300
400

In [68]:
for i in range(4):
    print(salary[i])

100
200
300
400

In [69]:
print(salary.buffer_info())

(2295744472144, 4)

In [70]:
print(salary.append(500))

None

In [71]:
print(salary)

array('i', [100, 200, 300, 400, 500])

In [72]:
print(salary.remove(300))

None

In [73]:
print(salary)

array('i', [100, 200, 400, 500])

In [74]:
salary.reverse()
print(salary)

array('i', [500, 400, 200, 100])

In [75]:
salary=array('i',[100,200.5,300,400])
print(salary) # int and float are same time not use

TypeError: integer argument expected, got float

In [76]:
salary=array('f',[100,200.5,300,400])
print(salary)

array('f', [100.0, 200.5, 300.0, 400.0])

# Python Bangla Tutorial for Beginners

# List

In [77]:
list=[1,4,2,3.5,7,6,4]
print(list)

[1, 4, 2, 3.5, 7, 6, 4]

In [78]:
list=[1,25,4,['Hamid',34,5],40,60]
print(list)

[1, 25, 4, ['Hamid', 34, 5], 40, 60]

In [79]:
print(list[3])

['Hamid', 34, 5]

In [80]:
print(list[3][0])

Hamid

In [81]:
list=list+[1,2,3,4]
print(list)

[1, 25, 4, ['Hamid', 34, 5], 40, 60, 1, 2, 3, 4]

In [82]:
list.extend([6,7,8,9,10])
print(list)

[1, 25, 4, ['Hamid', 34, 5], 40, 60, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [83]:
list.remove(1)
print(list)

[25, 4, ['Hamid', 34, 5], 40, 60, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [84]:
list.remove(list[2])
print(list)

[25, 4, 40, 60, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [85]:
list=[1,1,1,2,3,4,5]
print(list.count(1))

3

# Tuple in Python

In [86]:
tuple=(1,24,56,7,89)
print(tuple)

(1, 24, 56, 7, 89)

In [87]:
import sys

tuple=(1,2,3,4,5)
list=[1,2,3,4,5]

print('tuple',sys.getsizeof(tuple))
print('list',sys.getsizeof(list))

tuple 80
list 96

In [88]:
del tuple
print(tuple)

<class 'tuple'>

# Sets in Python

In [89]:
s1=set([1,2,3,4,5])
print(s1)

{1, 2, 3, 4, 5}

In [90]:
print(type(s1))

<class 'set'>

In [91]:
s1={1,2,3,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

In [92]:
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

In [93]:
s1.update((7,8,9,10))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [94]:
s1.update([11,12,13,14,15])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [95]:
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [97]:
s1.remove(1)
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [98]:
s1.discard(15)
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [99]:
s1.discard(10)
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9}

# Sets in Python || Intersection Operation in Python

In [100]:
s1={1,2,3}
s2={2,3,4}
s3={3,4,5}

s4=s1.intersection(s2)
print(s4)

{2, 3}

In [101]:
s5=s1.intersection(s2,s3)
print(s5)

{3}

In [102]:
print(s1.difference(s2))

{1}

In [103]:
print(s2.difference(s1))

{4}

In [104]:
print(s1.symmetric_difference(s2))

{1, 4}

In [105]:
print(s2.symmetric_difference(s1))

{1, 4}

In [106]:
s1=[1,1,2,2,3,3,3,3,4,5]
r=set(s1)
print(r)

{1, 2, 3, 4, 5}

In [107]:
s1=[1,2,3]
s2=[2,3,4]

print(set(s1).difference(set(s2)))

{1}

# Sets in Python || Union Operation in Python

In [108]:
a={1,2,3,4,5}
b={2,3,6,8,9}
c={5,6,9,1,10}

r=a.union(b)
print(r)

{1, 2, 3, 4, 5, 6, 8, 9}

In [109]:
r=a.union(b,c)
print(r)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [110]:
r=a|b
print(r)

{1, 2, 3, 4, 5, 6, 8, 9}

In [111]:
r=a|b|c
print(r)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

# Python Dictionaries || Dictionary in Python

In [112]:
d={'name':"Hamid Hosen",'age':22,'Bdate':1999}
print(d)

{'name': 'Hamid Hosen', 'age': 22, 'Bdate': 1999}

In [113]:
print(d['name'])

Hamid Hosen

In [114]:
d1={'name':"Hamid Hosen",10:10,10.5:10.5,True:True,(2,3):5}
print(d1)

{'name': 'Hamid Hosen', 10: 10, 10.5: 10.5, True: True, (2, 3): 5}

In [115]:
print(d1[(2,3)])

5

In [116]:
d2=d1;
print(d2)

{'name': 'Hamid Hosen', 10: 10, 10.5: 10.5, True: True, (2, 3): 5}

In [117]:
d2=d1.copy()
print(d2)

{'name': 'Hamid Hosen', 10: 10, 10.5: 10.5, True: True, (2, 3): 5}

In [118]:
x=len(d1)
print(x)

5

In [119]:
y=len(d)
print(y)

3

In [120]:
d1['versity']='Daffodil University'
print(d1)

{'name': 'Hamid Hosen', 10: 10, 10.5: 10.5, True: True, (2, 3): 5, 'versity': 'Daffodil University'}

In [121]:
d1.pop('versity')
print(d1)

{'name': 'Hamid Hosen', 10: 10, 10.5: 10.5, True: True, (2, 3): 5}

In [122]:
d1.clear()
print(d1)

{}

# Python Dictionaries || Dictionary in Python

In [123]:
d={1:'study Mart',2:'Data Science',3:'Python'}
print(d[1])

study Mart

In [124]:
print(d.get(2))

Data Science

In [125]:
print(d.items())

dict_items([(1, 'study Mart'), (2, 'Data Science'), (3, 'Python')])

In [126]:
d={1:'study Mart','Data Science':2,3:'Python'}
print(d.keys())

dict_keys([1, 'Data Science', 3])

In [127]:
print(d.values())

dict_values(['study Mart', 2, 'Python'])

# Python Nested Dictionary

In [128]:
student={1:{'name':'Hamid','age':21,'sex':'male'},
        2:{'name':'Hamid Hosen','age':22,'sex':'male'},
        3:{'name':'Hamid Hosen Azad','age':24,'sex':'male'}
        }
print(student)

{1: {'name': 'Hamid', 'age': 21, 'sex': 'male'}, 2: {'name': 'Hamid Hosen', 'age': 22, 'sex': 'male'}, 3: {'name': 'Hamid Hosen Azad', 'age': 24, 'sex': 'male'}}

In [129]:
print(student[1])

{'name': 'Hamid', 'age': 21, 'sex': 'male'}

In [130]:
print(student[1]['sex'])
print(student[2]['name'])
print(student[3]['age'])

male
Hamid Hosen
24

In [131]:
student={1:{'name':'Hamid','age':21,'sex':'male'},
        2:{'name':'Hamid Hosen','age':22,'sex':'male'},
        3:{'name':'Hamid Hosen Azad','age':24,'sex':'male'}
        }

print(student[1]['sex'])
print(student[2]['name'])
print(student[3]['age'])

student[4]={}
student[4]['name']='Md.Hamid Hosen'
student[4]['age']=24
student[4]['sex']='male'

print(student[3])

male
Hamid Hosen
24
{'name': 'Hamid Hosen Azad', 'age': 24, 'sex': 'male'}

In [132]:
print(student)

{1: {'name': 'Hamid', 'age': 21, 'sex': 'male'}, 2: {'name': 'Hamid Hosen', 'age': 22, 'sex': 'male'}, 3: {'name': 'Hamid Hosen Azad', 'age': 24, 'sex': 'male'}, 4: {'name': 'Md.Hamid Hosen', 'age': 24, 'sex': 'male'}}

In [133]:
student.pop(1)
print(student)

{2: {'name': 'Hamid Hosen', 'age': 22, 'sex': 'male'}, 3: {'name': 'Hamid Hosen Azad', 'age': 24, 'sex': 'male'}, 4: {'name': 'Md.Hamid Hosen', 'age': 24, 'sex': 'male'}}

In [134]:
del student[4]['sex']
print(student)

{2: {'name': 'Hamid Hosen', 'age': 22, 'sex': 'male'}, 3: {'name': 'Hamid Hosen Azad', 'age': 24, 'sex': 'male'}, 4: {'name': 'Md.Hamid Hosen', 'age': 24}}

In [135]:
student[2].pop('sex')
print(student)

{2: {'name': 'Hamid Hosen', 'age': 22}, 3: {'name': 'Hamid Hosen Azad', 'age': 24, 'sex': 'male'}, 4: {'name': 'Md.Hamid Hosen', 'age': 24}}

In [136]:
del student[4]
print(student)

{2: {'name': 'Hamid Hosen', 'age': 22}, 3: {'name': 'Hamid Hosen Azad', 'age': 24, 'sex': 'male'}}

# If, elif and else Statements in Python

In [137]:
x=int(input())
y=int(input())
z=int(input())

if(x<y):
    print('x is less then y' )

10
20
30
x is less then y

In [138]:
x=int(input())
y=int(input())
z=int(input())

if(x>y):
    print('x is less then y' )

20
10
10
x is less then y

# Find Odd & Even Number in Python

In [139]:
num=int(input("Enter any number:"))

if num%2==0:
    print("Ever number.")
else:
    print("Odd number.")

Enter any number:5
Odd number.

# Find Negative & Positive Number in Python

In [140]:
num=int(input("Enter any number:"))

if num==0:
    print('The number is zero.')
elif num>0:
    print('The number is positive.')
else:
    print('The number is Negative.')

Enter any number:5
The number is positive.

# Nested if statement in Python

In [141]:
num=int(input("Enter any number:"))

if num==0:
    print('The number is zero.')
elif num>0:
    print('The number is positive.')
    
    if(num%2==0):
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print('The number is Negative.')

Enter any number:100
The number is positive.
The number is even.

# Find Max Number out of three Numbers using Python

In [142]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
num3=int(input("Enter the second number:"))

if num1>num2:
    if num1>num3:
        print('Number1 is bigger then number2,number3')
    else:
        print('Number3 is bigger then number1,number2')
elif num1<num2:
    if num2>num3:
        print('Number2 is bigger then number1,number3')
    else:
         print('Number3 is bigger then number1,number2')

Enter the first number:10
Enter the second number:30
Enter the second number:20
Number2 is bigger then number1,number3

In [143]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
num3=int(input("Enter the second number:"))

if num1>num2:
    if num1>num3:
        print('Number1 is bigger then number2,number3')
    else:
        print('Number3 is bigger then number1,number2')
elif num1<num2:
    if num2>num3:
        print('Number2 is bigger then number1,number3')
    else:
         print('Number3 is bigger then number1,number2')

Enter the first number:20
Enter the second number:30
Enter the second number:50
Number3 is bigger then number1,number2

# Ternary Operator in Python

In [144]:
#r=A if condition else B

print('yes!' if True else 'No!')

yes!

In [145]:
print('yes!' if False else 'No!')

No!

In [146]:
a,b=10,20
print(a if a<b else b)

10

In [147]:
num=int(input("Enter any number:"))

print('The number is even.' if num%2==0 else "The number is odd.")

Enter any number:5
The number is odd.

# Swap two Numbers in Python

In [148]:
a=5
b=10

c=a
a=b
b=c

print(a,b)

10 5

In [149]:
a=10
b=5

a=a+b
b=a-b
a=a-b

print(a,b)

5 10

In [150]:
a=10
b=20

a,b=b,a
print(a,b)

20 10

# Exceptions Handling in Python

In [151]:
a=5
b=2

print(a/b)

2.5

In [152]:
a=5
b=0

print(a/b)
print('ok,Bey')

ZeroDivisionError: division by zero

In [153]:
a=5
b=0

try:
    print(a/b)
except Exception:
    print('You can not divide a number by zero!')
print('ok,Bey')

You can not divide a number by zero!
ok,Bey

In [155]:
a=5
b=2

try:
    print(a/b)
except Exception:
    print('You can not divide a number by zero!')
print('ok,Bey')

2.5
ok,Bey

In [157]:
a=5
b=0

try:
    print(a/b)
except Exception as e:
    print('You can not divide a number by zero!',e)
print('ok,Bey')

You can not divide a number by zero! division by zero
ok,Bey

In [158]:
a=5
b=0

try:
    print("Resourse open.")
    print(a/b)
    print("Resourse close.")
except Exception as e:
    print('You can not divide a number by zero!',e)
print('ok,Bey')

Resourse open.
You can not divide a number by zero! division by zero
ok,Bey

In [159]:
a=5
b=2

try:
    print("Resourse open.")
    print(a/b)
    print("Resourse close.")
except Exception as e:
    print('You can not divide a number by zero!',e)
print('ok,Bey')

Resourse open.
2.5
Resourse close.
ok,Bey

In [160]:
a=5
b=0

try:
    print("Resourse open.")
    print(a/b)
    
except Exception as e:
    print('You can not divide a number by zero!',e)

finally:
    print("Resourse close.")
    
print('ok,Bey')

Resourse open.
You can not divide a number by zero! division by zero
Resourse close.
ok,Bey

In [161]:
a=5
b=2

try:
    print("Resourse open.")
    print(a/b)
    
except Exception as e:
    print('You can not divide a number by zero!',e)

finally:
    print("Resourse close.")
    
print('ok,Bey')

Resourse open.
2.5
Resourse close.
ok,Bey

In [162]:
a=5
b=2

try:
    print("Resourse open.")
    print(a/b)
    
    n=int(input("Enter any number:"))
    
except Exception as e:
    print('You can not divide a number by zero!',e)

finally:
    print("Resourse close.")
    
print('ok,Bey')

Resourse open.
2.5
Enter any number:2.5
You can not divide a number by zero! invalid literal for int() with base 10: '2.5'
Resourse close.
ok,Bey

In [163]:
a=5
b=2

try:
    print("Resourse open.")
    print(a/b)
    
    n=int(input("Enter any number:"))
    
except Exception as e:
    print('You can not divide a number by zero!',e)

finally:
    print("Resourse close.")
    
print('ok,Bey')

Resourse open.
2.5
Enter any number:xyz
You can not divide a number by zero! invalid literal for int() with base 10: 'xyz'
Resourse close.
ok,Bey

In [164]:
a = 5
b = 2

try:
    print("Resourse open.")
    print(a / b)

    n = int(input("Enter any number:"))

except ZeroDivisionError:
    print('You can not divide a number by zero!')

except ValueError:
    print("Sometimes")

finally:
    print("Resourse close.")

print('ok,Bey')

Resourse open.
2.5
Enter any number:xyz
Sometimes
Resourse close.
ok,Bey

In [165]:
a = 5
b = 0

try:
    print("Resourse open.")
    print(a / b)

    n = int(input("Enter any number:"))

except ZeroDivisionError:
    print('You can not divide a number by zero!')

except ValueError:
    print("Sometimes")

finally:
    print("Resourse close.")

print('ok,Bey')

Resourse open.
You can not divide a number by zero!
Resourse close.
ok,Bey

In [166]:
a = 5
b = 2

try:
    print("Resourse open.")
    print(a / b)

    n = int(input("Enter any number:"))

except (ZeroDivisionError,ValueError):
    print('You can not divide a number by zero!')
    print("Sometimes")

finally:
    print("Resourse close.")

print('ok,Bey')

Resourse open.
2.5
Enter any number:xyz
You can not divide a number by zero!
Sometimes
Resourse close.
ok,Bey

# Assertions in Python | Python Assert Statement | Python Assert Keyword

In [167]:
def salary(n):
    print("My salary is ",n)
salary(500)

My salary is  500

In [168]:
def salary(n):
    #assert  <condition>,'message'
    assert n>0, 'Salary cannot less then zero'
    print("My salary is ",n)
salary(-500)

AssertionError: Salary cannot less then zero

In [169]:
def salary(n):
    #assert  <condition>,'message'
    assert n>0, 'Salary cannot less then zero'
    print("My salary is ",n)
salary(500)

My salary is  500

# How to Use Mathematical Functions in Python

In [170]:
x=25.5
print(x**4)

422825.0625

In [171]:
import math
print(math.pow(x,4))

422825.0625

In [172]:
print(math.sqrt(x))

5.049752469181039

In [173]:
print(math.pi)

3.141592653589793

In [174]:
print(math.e)

2.718281828459045

In [175]:
x=25
print(math.factorial(x))

15511210043330985984000000

In [176]:
print(math.remainder(x,2))

1.0

In [177]:
print(math.tau)

6.283185307179586

In [178]:
print(math.inf)

inf

In [179]:
print(math.nan)

nan

In [180]:
x=25.5
print(math.ceil(x))

26

In [181]:
print(math.floor(x))

25

In [182]:
import math as m

x=25.6

print(m.degrees(x))

1466.7719555349076

In [183]:
print(math.degrees(x))#radious to degree

1466.7719555349076

In [184]:
print(math.radians(x))#degree to radians

0.4468042885105484

In [185]:
#heyperbolic function
print(m.asinh(x))

3.9361207836781484

In [186]:
print(m.acosh(x))

3.9353578438549484

In [187]:
print(m.asinh(x))

3.9361207836781484

In [188]:
print(m.sin(x))

0.4504405942753893

In [189]:
print(m.cos(x))

0.8928064017629097

In [190]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

# Introduction to For Loop & Range Function in Python

In [191]:
a=['CSE','EEE','ME','ChE','Civil']
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

CSE
EEE
ME
ChE
Civil

In [192]:
for i in a:
    print(i)

CSE
EEE
ME
ChE
Civil

In [193]:
b=[10,20,30,40,50]
total=0

for i in b:
    total+=i
print(total)

150

In [194]:
c=list(range(1,11))
print(c)

TypeError: 'list' object is not callable

In [195]:
c=set(range(1,11))
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [196]:
c=tuple(range(1,11))
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [197]:
total=0

for i in range(1,11):
    total+=i
print(total)

55

In [198]:
total=0

for i in range(1,11):
    if(i%2)==0:
        total+=i
print(total)

30

# Find Prime Numbers in Python

In [199]:
num=int(input("Enter any number:"))

for i in range(2,num):
    if num%i==0:
        print('Not a prime number.')
        break;
else:
    print('Oh! its a prime number.')

Enter any number:4
Not a prime number.

# Break Statement in Python

In [200]:
n=int(input("Enter any number:"))
i=1
while(i<=n):
    print('iPhone',i)
    i+=1
print('Oh,Thank you,')

Enter any number:5
iPhone 1
iPhone 2
iPhone 3
iPhone 4
iPhone 5
Oh,Thank you,

In [201]:
n=int(input("Enter any number:"))
avilable=5
i=1
while(i<=n):
    if i>avilable:
        print('Sorry! out of stack.')
        break;
    print('iPhone',i)
    i+=1
print('Oh,Thank you,')

Enter any number:10
iPhone 1
iPhone 2
iPhone 3
iPhone 4
iPhone 5
Sorry! out of stack.
Oh,Thank you,

# Fibonacci Sequence in Python

In [202]:
def fib(x):
    a=0
    b=1
    print(a)
    print(b)
    
    for i in range(2,x):
        c=a+b
        a=b
        b=c
        
        print(c)
        
num=int(input('Enter any number:'))
fib(num)

Enter any number:10
0
1
1
2
3
5
8
13
21
34

# Factorial Number using Python

In [203]:
num=int(input('Enter any number:'))
result=1
for i in range(1,num+1):
    result=result*i
print(result)

Enter any number:5
120

In [204]:
import math
num=int(input('Enter any number:'))
print(math.factorial(num))

Enter any number:5
120

# args in Python | Python Non-Keyword Arguments (args)

In [205]:
def my_mul(*num):
    r=1
    for i in num:
        r*=i
    print(r)
my_mul(2,5,6,9)

540

In [206]:
def my_mul(num1,*num):
    r=1
    for i in num:
        r*=i
    print(r)
my_mul(2,5,6,9)

270

In [207]:
def my_func(*argv):
    for i in argv:
        print(argv)
my_func('Hi','Welcome','to','study mart')

def my_func(arg1,*x):
    print("First argument : ",arg1);
    
    for i in x:
        print('Next arguments : ',x)

my_func('Hello','Welcome','to','study mart')

('Hi', 'Welcome', 'to', 'study mart')
('Hi', 'Welcome', 'to', 'study mart')
('Hi', 'Welcome', 'to', 'study mart')
('Hi', 'Welcome', 'to', 'study mart')
First argument :  Hello
Next arguments :  ('Welcome', 'to', 'study mart')
Next arguments :  ('Welcome', 'to', 'study mart')
Next arguments :  ('Welcome', 'to', 'study mart')

# kwargs in Python | Keyword Argument | *Args vs KwArgs

In [208]:
def myself(age,*others):
    print(age)
    print(others)
myself(22,'Hamid Hosen','East Delta university','Bangladesh')

22
('Hamid Hosen', 'East Delta university', 'Bangladesh')

In [209]:
def myself(age,*others):
    print(age)
    print(others)
myself(22,name='Hamid Hosen',versity='East Delta university',country='Bangladesh')

TypeError: myself() got an unexpected keyword argument 'name'

In [210]:
def myself(age,**others):
    print(age)
    print(others)
myself(22,name='Hamid Hosen',versity='East Delta university',country='Bangladesh')

22
{'name': 'Hamid Hosen', 'versity': 'East Delta university', 'country': 'Bangladesh'}

In [212]:
def myself(**others):
    #print(age)
    print(others)
myself(age=22,name='Hamid Hosen',versity='East Delta university',country='Bangladesh')

{'age': 22, 'name': 'Hamid Hosen', 'versity': 'East Delta university', 'country': 'Bangladesh'}

# What is Numpy? Python List vs Numpy Array

NumPy is one of the most powerful Python libraries. This article will outline the core features of the NumPy library. It will also provide an overview of the common mathematical functions in an easy-to-follow manner. More details are given below: 1. NumPy is an open-source numerical Python library. 2. NumPy contains a multi-dimensional array and matrix data structures. 3. It can be utilized to perform a number of mathematical operations on arrays such as trigonometric, statistical and algebraic routines. 4. NumPy is an extension of Numeric and Numarray. 5. The library contains a large number of mathematical, algebraic and transformation functions. 6. It also contains random number generators. 7. NumPy is a wrapper around a library implemented in C. 8. Pandas objects rely heavily on NumPy objects. Pandas extend Numpy.

In [213]:
list1=[1,3,5,7]
list2=[4,7,9,2]

print(list1*list2)

TypeError: can't multiply sequence by non-int of type 'list'

In [214]:
list1=[1,3,5,7]
list2=[4,7,9,2]

print(list1[1]*list2[2])

27

In [215]:
import numpy as np

list1=np.array([1,3,5,7])
list2=np.array([4,7,9,2])

print(list1*list2)

[ 4 21 45 14]

# Multidimensional Arrays in Python || 2D & 3D Arrays

In [216]:
import numpy as r
x=r.array([
    [1,2,3,4,5,6],
    [4,5,6,7,8,9]
])
print(x)

[[1 2 3 4 5 6]
 [4 5 6 7 8 9]]

In [217]:
from numpy import*

x=array([
    [1,2,3,4,5,6],
    [4,5,6,7,8,9]
])
print(x)

[[1 2 3 4 5 6]
 [4 5 6 7 8 9]]

In [218]:
print(x.dtype)

int32

In [219]:
print(x.ndim)

2

In [220]:
print(x.shape)

(2, 6)

In [221]:
print(x.size)

12

In [222]:
from numpy import*

x=array([
    [1,2,3,4,5,6],
    [4,5,6,7,8,9]
])
print(x)

y=x.flatten()
print(y)

[[1 2 3 4 5 6]
 [4 5 6 7 8 9]]
[1 2 3 4 5 6 4 5 6 7 8 9]

In [223]:
z=y.reshape(3,4)
print(z)

[[1 2 3 4]
 [5 6 4 5]
 [6 7 8 9]]

In [224]:
a=z.reshape(2,3,2)
print(a)

[[[1 2]
  [3 4]
  [5 6]]

 [[4 5]
  [6 7]
  [8 9]]]

In [225]:
print(a.ndim)

3

# Matrix in Python || Matrix Multiplication in Python

In [226]:
import numpy as np

m1=[[1,2,3],
   [4,5,6],
   [7,8,9]
   ]

m2=([3,4,2],
    [7,8,9],
    [3,5,9]
   )
print(m1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [227]:
import numpy as np

m1=([1,2,3],
   [4,5,6],
   [7,8,9]
   )

m2=([3,4,2],
    [7,8,9],
    [3,5,9]
   )
print(np.add(m1,m2))

[[ 4  6  5]
 [11 13 15]
 [10 13 18]]

In [228]:
print(np.subtract(m1,m2))

[[-2 -2  1]
 [-3 -3 -3]
 [ 4  3  0]]

In [229]:
print(np.dot(m1,m2))#roq*col

[[ 26  35  47]
 [ 65  86 107]
 [104 137 167]]

In [230]:
print(np.multiply(m1,m2))

[[ 3  8  6]
 [28 40 54]
 [21 40 81]]

# Zip Function in Python || Unzip || Zipping Two Lists

In [231]:
person_name=['hamid','hosen','azad','fahim']
person_age=[23,45,67,89]

print(person_name+person_age)

['hamid', 'hosen', 'azad', 'fahim', 23, 45, 67, 89]

In [233]:
print(list(zip(person_name,person_age)))

TypeError: 'list' object is not callable

[('hamid', 23), ('hosen', 45), ('azad', 67), ('fahim', 89)]

In [234]:
print(list(zip('1234',person_name,person_age)))

TypeError: 'list' object is not callable

[('1', 'hamid', 23), ('2', 'hosen', 45), ('3', 'azad', 67), ('4', 'fahim', 89)]

In [235]:
print(list(zip(person_name,person_age,'1234')))

TypeError: 'list' object is not callable

[('hamid', 23, '1'), ('hosen', 45, '2'), ('azad', 67, '3'), ('fahim', 89, '4')]

In [236]:
x=[('1', 'hamid', 23), ('2', 'hosen', 45), ('3', 'azad', 67), ('4', 'fahim', 89)]
print(list(zip(*x)))

TypeError: 'list' object is not callable

[('1', '2', '3', '4'), ('hamid', 'hosen', 'azad', 'fahim'), (23, 45, 67, 89)]

In [237]:
y=list(zip(*x))

print(y[0])
print(y[1])
print(y[2])

TypeError: 'list' object is not callable

('1', '2', '3', '4')
('hamid', 'hosen', 'azad', 'fahim')
(23, 45, 67, 89)

# Lambda Function in Python || Python Lambda (Anonymous Functions)

In [238]:
r=(lambda x,y,z: x*y*z)(2,5,9)
print(r)

90

# Map Function in Python || Map() in Python

In [239]:
def mul(n):
    return n*5;

result=[]
num=[3,5,7,9,2,1,5]

for i in num:
    result.append(mul(i))
print(result)

[15, 25, 35, 45, 10, 5, 25]

In [240]:
def mul(n):
    return n*5;

num=[3,5,7,9,2,1,5]
result=list(map(mul,num))
print(result)

TypeError: 'list' object is not callable

[15, 25, 35, 45, 10, 5, 25]

# Filter Function in Python || Python filter ( )

In [241]:
num1=[1,2,3,4,3,0,6,7,8,9,11,12,13,14]

result=list(filter((lambda n:n%2),num))
print("Odd Number: ",result)

TypeError: 'list' object is not callable

Odd Number:  [1, 3, 3, 7, 9, 11, 13]

In [242]:
num1=[1,2,3,4,3,0,6,7,8,9,11,12,13,14]

result=list(filter((lambda n:n%2==0),num))
print("Odd Number: ",result)

TypeError: 'list' object is not callable

Odd Number:  [2, 4, 0, 6, 8, 12, 14]

In [243]:
num1=[1,2,3,4,3,0,6,7,8,9,11,12,13,14]

result=list(filter((lambda n:n>5),num))
print("Odd Number: ",result)

TypeError: 'list' object is not callable

Odd Number:  [6, 7, 8, 9, 11, 12, 13, 14]

# Reduce Function in Python || Python reduce ( )

In [244]:
import functools

def two_num_sum(num1,num2):
    return num1+num2

list=[1,2,3,4,5]
print(functools.reduce(two_num_sum,list))

15

# Local Variable vs Global Variable in Python

In [245]:
def fnc():
    rt=150
    print("Inside:",rt)
fnc()
print('Outside ',rt)

Inside: 150

NameError: name 'rt' is not defined

In [246]:
rt=100
def fnc():
    rt=150
    print("Inside:",rt)
fnc()
print('Outside ',rt)

Inside: 150
Outside  100

In [247]:
rt=100
def fnc():
    #rt=150
    print("Inside:",rt)
fnc()
print('Outside ',rt)

Inside: 100
Outside  100

In [248]:
rt=100
def fnc():
    global rt
    rt=rt+50
    print("Inside:",rt)
fnc()
print('Outside ',rt)

Inside: 150
Outside  150

# Default Arguments in Python || Python Default Arguments

In [249]:
def My_pow(a,b=5):
    return a**b#pow(a,b)

x=My_pow(2)
print(x)

32

In [250]:
def My_pow(a,b=5):
    return a**b#pow(a,b)

x=My_pow(2,3)
print(x)

8

In [251]:
def fnc(x='Hamid'):
    print('I am ',x)
fnc('(Hamid)')

I am  (Hamid)

# Recursion in Python | Recursion Explained

In [252]:
import sys
print('List = ',sys.getrecursionlimit())
sys.setrecursionlimit(1500)

count=0
def my_fnc():
    global count
    count=count+1
    print('Study Mart ',count)
    my_fnc()
my_fnc()

List =  3000
Study Mart  1
Study Mart  2
Study Mart  3
Study Mart  4
Study Mart  5
Study Mart  6
Study Mart  7
Study Mart  8
Study Mart  9
Study Mart  10
Study Mart  11
Study Mart  12
Study Mart  13
Study Mart  14
Study Mart  15
Study Mart  16
Study Mart  17
Study Mart  18
Study Mart  19
Study Mart  20
Study Mart  21
Study Mart  22
Study Mart  23
Study Mart  24
Study Mart  25
Study Mart  26
Study Mart  27
Study Mart  28
Study Mart  29
Study Mart  30
Study Mart  31
Study Mart  32
Study Mart  33
Study Mart  34
Study Mart  35
Study Mart  36
Study Mart  37
Study Mart  38
Study Mart  39
Study Mart  40
Study Mart  41
Study Mart  42
Study Mart  43
Study Mart  44
Study Mart  45
Study Mart  46
Study Mart  47
Study Mart  48
Study Mart  49
Study Mart  50
Study Mart  51
Study Mart  52
Study Mart  53
Study Mart  54
Study Mart  55
Study Mart  56
Study Mart  57
Study Mart  58
Study Mart  59
Study Mart  60
Study Mart  61
Study Mart  62
Study Mart  63
Study Mart  64
Study Mart  65
Study Mart  66
Study Mart  67
Study Mart  68
Study Mart  69
Study Mart  70
Study Mart  71
Study Mart  72
Study Mart  73
Study Mart  74
Study Mart  75
Study Mart  76
Study Mart  77
Study Mart  78
Study Mart  79
Study Mart  80
Study Mart  81
Study Mart  82
Study Mart  83
Study Mart  84
Study Mart  85
Study Mart  86
Study Mart  87
Study Mart  88
Study Mart  89
Study Mart  90
Study Mart  91
Study Mart  92
Study Mart  93
Study Mart  94
Study Mart  95
Study Mart  96
Study Mart  97
Study Mart  98
Study Mart  99
Study Mart  100
Study Mart  101
Study Mart  102
Study Mart  103
Study Mart  104
Study Mart  105
Study Mart  106
Study Mart  107
Study Mart  108
Study Mart  109
Study Mart  110
Study Mart  111
Study Mart  112
Study Mart  113
Study Mart  114
Study Mart  115
Study Mart  116
Study Mart  117
Study Mart  118
Study Mart  119
Study Mart  120
Study Mart  121
Study Mart  122
Study Mart  123
Study Mart  124
Study Mart  125
Study Mart  126
Study Mart  127
Study Mart  128
Study Mart  129
Study Mart  130
Study Mart  131
Study Mart  132
Study Mart  133
Study Mart  134
Study Mart  135
Study Mart  136
Study Mart  137
Study Mart  138
Study Mart  139
Study Mart  140
Study Mart  141
Study Mart  142
Study Mart  143
Study Mart  144
Study Mart  145
Study Mart  146
Study Mart  147
Study Mart  148
Study Mart  149
Study Mart  150
Study Mart  151
Study Mart  152
Study Mart  153
Study Mart  154
Study Mart  155
Study Mart  156
Study Mart  157
Study Mart  158
Study Mart  159
Study Mart  160
Study Mart  161
Study Mart  162
Study Mart  163
Study Mart  164
Study Mart  165
Study Mart  166
Study Mart  167
Study Mart  168
Study Mart  169
Study Mart  170
Study Mart  171
Study Mart  172
Study Mart  173
Study Mart  174
Study Mart  175
Study Mart  176
Study Mart  177
Study Mart  178
Study Mart  179
Study Mart  180
Study Mart  181
Study Mart  182
Study Mart  183
Study Mart  184
Study Mart  185
Study Mart  186
Study Mart  187
Study Mart  188
Study Mart  189
Study Mart  190
Study Mart  191
Study Mart  192
Study Mart  193
Study Mart  194
Study Mart  195
Study Mart  196
Study Mart  197
Study Mart  198
Study Mart  199
Study Mart  200
Study Mart  201
Study Mart  202
Study Mart  203
Study Mart  204
Study Mart  205
Study Mart  206
Study Mart  207
Study Mart  208
Study Mart  209
Study Mart  210
Study Mart  211
Study Mart  212
Study Mart  213
Study Mart  214
Study Mart  215
Study Mart  216
Study Mart  217
Study Mart  218
Study Mart  219
Study Mart  220
Study Mart  221
Study Mart  222
Study Mart  223
Study Mart  224
Study Mart  225
Study Mart  226
Study Mart  227
Study Mart  228
Study Mart  229
Study Mart  230
Study Mart  231
Study Mart  232
Study Mart  233
Study Mart  234
Study Mart  235
Study Mart  236
Study Mart  237
Study Mart  238
Study Mart  239
Study Mart  240
Study Mart  241
Study Mart  242
Study Mart  243
Study Mart  244
Study Mart  245
Study Mart  246
Study Mart  247
Study Mart  248
Study Mart  249
Study Mart  250
Study Mart  251
Study Mart  252
Study Mart  253
Study Mart  254
Study Mart  255
Study Mart  256
Study Mart  257
Study Mart  258
Study Mart  259
Study Mart  260
Study Mart  261
Study Mart  262
Study Mart  263
Study Mart  264
Study Mart  265
Study Mart  266
Study Mart  267
Study Mart  268
Study Mart  269
Study Mart  270
Study Mart  271
Study Mart  272
Study Mart  273
Study Mart  274
Study Mart  275
Study Mart  276
Study Mart  277
Study Mart  278
Study Mart  279
Study Mart  280
Study Mart  281
Study Mart  282
Study Mart  283
Study Mart  284
Study Mart  285
Study Mart  286
Study Mart  287
Study Mart  288
Study Mart  289
Study Mart  290
Study Mart  291
Study Mart  292
Study Mart  293
Study Mart  294
Study Mart  295
Study Mart  296
Study Mart  297
Study Mart  298
Study Mart  299
Study Mart  300
Study Mart  301
Study Mart  302
Study Mart  303
Study Mart  304
Study Mart  305
Study Mart  306
Study Mart  307
Study Mart  308
Study Mart  309
Study Mart  310
Study Mart  311
Study Mart  312
Study Mart  313
Study Mart  314
Study Mart  315
Study Mart  316
Study Mart  317
Study Mart  318
Study Mart  319
Study Mart  320
Study Mart  321
Study Mart  322
Study Mart  323
Study Mart  324
Study Mart  325
Study Mart  326
Study Mart  327
Study Mart  328
Study Mart  329
Study Mart  330
Study Mart  331
Study Mart  332
Study Mart  333
Study Mart  334
Study Mart  335
Study Mart  336
Study Mart  337
Study Mart  338
Study Mart  339
Study Mart  340
Study Mart  341
Study Mart  342
Study Mart  343
Study Mart  344
Study Mart  345
Study Mart  346
Study Mart  347
Study Mart  348
Study Mart  349
Study Mart  350
Study Mart  351
Study Mart  352
Study Mart  353
Study Mart  354
Study Mart  355
Study Mart  356
Study Mart  357
Study Mart  358
Study Mart  359
Study Mart  360
Study Mart  361
Study Mart  362
Study Mart  363
Study Mart  364
Study Mart  365
Study Mart  366
Study Mart  367
Study Mart  368
Study Mart  369
Study Mart  370
Study Mart  371
Study Mart  372
Study Mart  373
Study Mart  374
Study Mart  375
Study Mart  376
Study Mart  377
Study Mart  378
Study Mart  379
Study Mart  380
Study Mart  381
Study Mart  382
Study Mart  383
Study Mart  384
Study Mart  385
Study Mart  386
Study Mart  387
Study Mart  388
Study Mart  389
Study Mart  390
Study Mart  391
Study Mart  392
Study Mart  393
Study Mart  394
Study Mart  395
Study Mart  396
Study Mart  397
Study Mart  398
Study Mart  399
Study Mart  400
Study Mart  401
Study Mart  402
Study Mart  403
Study Mart  404
Study Mart  405
Study Mart  406
Study Mart  407
Study Mart  408
Study Mart  409
Study Mart  410
Study Mart  411
Study Mart  412
Study Mart  413
Study Mart  414
Study Mart  415
Study Mart  416
Study Mart  417
Study Mart  418
Study Mart  419
Study Mart  420
Study Mart  421
Study Mart  422
Study Mart  423
Study Mart  424
Study Mart  425
Study Mart  426
Study Mart  427
Study Mart  428
Study Mart  429
Study Mart  430
Study Mart  431
Study Mart  432
Study Mart  433
Study Mart  434
Study Mart  435
Study Mart  436
Study Mart  437
Study Mart  438
Study Mart  439
Study Mart  440
Study Mart  441
Study Mart  442
Study Mart  443
Study Mart  444
Study Mart  445
Study Mart  446
Study Mart  447
Study Mart  448
Study Mart  449
Study Mart  450
Study Mart  451
Study Mart  452
Study Mart  453
Study Mart  454
Study Mart  455
Study Mart  456
Study Mart  457
Study Mart  458
Study Mart  459
Study Mart  460
Study Mart  461
Study Mart  462
Study Mart  463
Study Mart  464
Study Mart  465
Study Mart  466
Study Mart  467
Study Mart  468
Study Mart  469
Study Mart  470
Study Mart  471
Study Mart  472
Study Mart  473
Study Mart  474
Study Mart  475
Study Mart  476
Study Mart  477
Study Mart  478
Study Mart  479
Study Mart  480
Study Mart  481
Study Mart  482
Study Mart  483
Study Mart  484
Study Mart  485
Study Mart  486
Study Mart  487
Study Mart  488
Study Mart  489
Study Mart  490
Study Mart  491
Study Mart  492
Study Mart  493
Study Mart  494
Study Mart  495
Study Mart  496
Study Mart  497
Study Mart  498
Study Mart  499
Study Mart  500
Study Mart  501
Study Mart  502
Study Mart  503
Study Mart  504
Study Mart  505
Study Mart  506
Study Mart  507
Study Mart  508
Study Mart  509
Study Mart  510
Study Mart  511
Study Mart  512
Study Mart  513
Study Mart  514
Study Mart  515
Study Mart  516
Study Mart  517
Study Mart  518
Study Mart  519
Study Mart  520
Study Mart  521
Study Mart  522
Study Mart  523
Study Mart  524
Study Mart  525
Study Mart  526
Study Mart  527
Study Mart  528
Study Mart  529
Study Mart  530
Study Mart  531
Study Mart  532
Study Mart  533
Study Mart  534
Study Mart  535
Study Mart  536
Study Mart  537
Study Mart  538
Study Mart  539
Study Mart  540
Study Mart  541
Study Mart  542
Study Mart  543
Study Mart  544
Study Mart  545
Study Mart  546
Study Mart  547
Study Mart  548
Study Mart  549
Study Mart  550
Study Mart  551
Study Mart  552
Study Mart  553
Study Mart  554
Study Mart  555
Study Mart  556
Study Mart  557
Study Mart  558
Study Mart  559
Study Mart  560
Study Mart  561
Study Mart  562
Study Mart  563
Study Mart  564
Study Mart  565
Study Mart  566
Study Mart  567
Study Mart  568
Study Mart  569
Study Mart  570
Study Mart  571
Study Mart  572
Study Mart  573
Study Mart  574
Study Mart  575
Study Mart  576
Study Mart  577
Study Mart  578
Study Mart  579
Study Mart  580
Study Mart  581
Study Mart  582
Study Mart  583
Study Mart  584
Study Mart  585
Study Mart  586
Study Mart  587
Study Mart  588
Study Mart  589
Study Mart  590
Study Mart  591
Study Mart  592
Study Mart  593
Study Mart  594
Study Mart  595
Study Mart  596
Study Mart  597
Study Mart  598
Study Mart  599
Study Mart  600
Study Mart  601
Study Mart  602
Study Mart  603
Study Mart  604
Study Mart  605
Study Mart  606
Study Mart  607
Study Mart  608
Study Mart  609
Study Mart  610
Study Mart  611
Study Mart  612
Study Mart  613
Study Mart  614
Study Mart  615
Study Mart  616
Study Mart  617
Study Mart  618
Study Mart  619
Study Mart  620
Study Mart  621
Study Mart  622
Study Mart  623
Study Mart  624
Study Mart  625
Study Mart  626
Study Mart  627
Study Mart  628
Study Mart  629
Study Mart  630
Study Mart  631
Study Mart  632
Study Mart  633
Study Mart  634
Study Mart  635
Study Mart  636
Study Mart  637
Study Mart  638
Study Mart  639
Study Mart  640
Study Mart  641
Study Mart  642
Study Mart  643
Study Mart  644
Study Mart  645
Study Mart  646
Study Mart  647
Study Mart  648
Study Mart  649
Study Mart  650
Study Mart  651
Study Mart  652
Study Mart  653
Study Mart  654
Study Mart  655
Study Mart  656
Study Mart  657
Study Mart  658
Study Mart  659
Study Mart  660
Study Mart  661
Study Mart  662
Study Mart  663
Study Mart  664
Study Mart  665
Study Mart  666
Study Mart  667
Study Mart  668
Study Mart  669
Study Mart  670
Study Mart  671
Study Mart  672
Study Mart  673
Study Mart  674
Study Mart  675
Study Mart  676
Study Mart  677
Study Mart  678
Study Mart  679
Study Mart  680
Study Mart  681
Study Mart  682
Study Mart  683
Study Mart  684
Study Mart  685
Study Mart  686
Study Mart  687
Study Mart  688
Study Mart  689
Study Mart  690
Study Mart  691
Study Mart  692
Study Mart  693
Study Mart  694
Study Mart  695
Study Mart  696
Study Mart  697
Study Mart  698
Study Mart  699
Study Mart  700
Study Mart  701
Study Mart  702
Study Mart  703
Study Mart  704
Study Mart  705
Study Mart  706
Study Mart  707
Study Mart  708
Study Mart  709
Study Mart  710
Study Mart  711
Study Mart  712
Study Mart  713
Study Mart  714
Study Mart  715
Study Mart  716
Study Mart  717
Study Mart  718
Study Mart  719
Study Mart  720
Study Mart  721
Study Mart  722
Study Mart  723
Study Mart  724
Study Mart  725
Study Mart  726
Study Mart  727
Study Mart  728
Study Mart  729
Study Mart  730
Study Mart  731
Study Mart  732
Study Mart  733
Study Mart  734
Study Mart  735
Study Mart  736
Study Mart  737
Study Mart  738
Study Mart  739
Study Mart  740
Study Mart  741
Study Mart  742
Study Mart  743
Study Mart  744
Study Mart  745
Study Mart  746
Study Mart  747
Study Mart  748
Study Mart  749
Study Mart  750
Study Mart  751
Study Mart  752
Study Mart  753
Study Mart  754
Study Mart  755
Study Mart  756
Study Mart  757
Study Mart  758
Study Mart  759
Study Mart  760
Study Mart  761
Study Mart  762
Study Mart  763
Study Mart  764
Study Mart  765
Study Mart  766
Study Mart  767
Study Mart  768
Study Mart  769
Study Mart  770
Study Mart  771
Study Mart  772
Study Mart  773
Study Mart  774
Study Mart  775
Study Mart  776
Study Mart  777
Study Mart  778
Study Mart  779
Study Mart  780
Study Mart  781
Study Mart  782
Study Mart  783
Study Mart  784
Study Mart  785
Study Mart  786
Study Mart  787
Study Mart  788
Study Mart  789
Study Mart  790
Study Mart  791
Study Mart  792
Study Mart  793
Study Mart  794
Study Mart  795
Study Mart  796
Study Mart  797
Study Mart  798
Study Mart  799
Study Mart  800
Study Mart  801
Study Mart  802
Study Mart  803
Study Mart  804
Study Mart  805
Study Mart  806
Study Mart  807
Study Mart  808
Study Mart  809
Study Mart  810
Study Mart  811
Study Mart  812
Study Mart  813
Study Mart  814
Study Mart  815
Study Mart  816
Study Mart  817
Study Mart  818
Study Mart  819
Study Mart  820
Study Mart  821
Study Mart  822
Study Mart  823
Study Mart  824
Study Mart  825
Study Mart  826
Study Mart  827
Study Mart  828
Study Mart  829
Study Mart  830
Study Mart  831
Study Mart  832
Study Mart  833
Study Mart  834
Study Mart  835
Study Mart  836
Study Mart  837
Study Mart  838
Study Mart  839
Study Mart  840
Study Mart  841
Study Mart  842
Study Mart  843
Study Mart  844
Study Mart  845
Study Mart  846
Study Mart  847
Study Mart  848
Study Mart  849
Study Mart  850
Study Mart  851
Study Mart  852
Study Mart  853
Study Mart  854
Study Mart  855
Study Mart  856
Study Mart  857
Study Mart  858
Study Mart  859
Study Mart  860
Study Mart  861
Study Mart  862
Study Mart  863
Study Mart  864
Study Mart  865
Study Mart  866
Study Mart  867
Study Mart  868
Study Mart  869
Study Mart  870
Study Mart  871
Study Mart  872
Study Mart  873
Study Mart  874
Study Mart  875
Study Mart  876
Study Mart  877
Study Mart  878
Study Mart  879
Study Mart  880
Study Mart  881
Study Mart  882
Study Mart  883
Study Mart  884
Study Mart  885
Study Mart  886
Study Mart  887
Study Mart  888
Study Mart  889
Study Mart  890
Study Mart  891
Study Mart  892
Study Mart  893
Study Mart  894
Study Mart  895
Study Mart  896
Study Mart  897
Study Mart  898
Study Mart  899
Study Mart  900
Study Mart  901
Study Mart  902
Study Mart  903
Study Mart  904
Study Mart  905
Study Mart  906
Study Mart  907
Study Mart  908
Study Mart  909
Study Mart  910
Study Mart  911
Study Mart  912
Study Mart  913
Study Mart  914
Study Mart  915
Study Mart  916
Study Mart  917
Study Mart  918
Study Mart  919
Study Mart  920
Study Mart  921
Study Mart  922
Study Mart  923
Study Mart  924
Study Mart  925
Study Mart  926
Study Mart  927
Study Mart  928
Study Mart  929
Study Mart  930
Study Mart  931
Study Mart  932
Study Mart  933
Study Mart  934
Study Mart  935
Study Mart  936
Study Mart  937
Study Mart  938
Study Mart  939
Study Mart  940
Study Mart  941
Study Mart  942
Study Mart  943
Study Mart  944
Study Mart  945
Study Mart  946
Study Mart  947
Study Mart  948
Study Mart  949
Study Mart  950
Study Mart  951
Study Mart  952
Study Mart  953
Study Mart  954
Study Mart  955
Study Mart  956
Study Mart  957
Study Mart  958
Study Mart  959
Study Mart  960
Study Mart  961
Study Mart  962
Study Mart  963
Study Mart  964
Study Mart  965
Study Mart  966
Study Mart  967
Study Mart  968
Study Mart  969
Study Mart  970
Study Mart  971
Study Mart  972
Study Mart  973
Study Mart  974
Study Mart  975
Study Mart  976
Study Mart  977
Study Mart  978
Study Mart  979
Study Mart  980
Study Mart  981
Study Mart  982
Study Mart  983
Study Mart  984
Study Mart  985
Study Mart  986
Study Mart  987
Study Mart  988
Study Mart  989
Study Mart  990
Study Mart  991
Study Mart  992
Study Mart  993
Study Mart  994
Study Mart  995
Study Mart  996
Study Mart  997
Study Mart  998
Study Mart  999
Study Mart  1000
Study Mart  1001
Study Mart  1002
Study Mart  1003
Study Mart  1004
Study Mart  1005
Study Mart  1006
Study Mart  1007
Study Mart  1008
Study Mart  1009
Study Mart  1010
Study Mart  1011
Study Mart  1012
Study Mart  1013
Study Mart  1014
Study Mart  1015
Study Mart  1016
Study Mart  1017
Study Mart  1018
Study Mart  1019
Study Mart  1020
Study Mart  1021
Study Mart  1022
Study Mart  1023
Study Mart  1024
Study Mart  1025
Study Mart  1026
Study Mart  1027
Study Mart  1028
Study Mart  1029
Study Mart  1030
Study Mart  1031
Study Mart  1032
Study Mart  1033
Study Mart  1034
Study Mart  1035
Study Mart  1036
Study Mart  1037
Study Mart  1038
Study Mart  1039
Study Mart  1040
Study Mart  1041
Study Mart  1042
Study Mart  1043
Study Mart  1044
Study Mart  1045
Study Mart  1046
Study Mart  1047
Study Mart  1048
Study Mart  1049
Study Mart  1050
Study Mart  1051
Study Mart  1052
Study Mart  1053
Study Mart  1054
Study Mart  1055
Study Mart  1056
Study Mart  1057
Study Mart  1058
Study Mart  1059
Study Mart  1060
Study Mart  1061
Study Mart  1062
Study Mart  1063
Study Mart  1064
Study Mart  1065
Study Mart  1066
Study Mart  1067
Study Mart  1068
Study Mart  1069
Study Mart  1070
Study Mart  1071
Study Mart  1072
Study Mart  1073
Study Mart  1074
Study Mart  1075
Study Mart  1076
Study Mart  1077
Study Mart  1078
Study Mart  1079
Study Mart  1080
Study Mart  1081
Study Mart  1082
Study Mart  1083
Study Mart  1084
Study Mart  1085
Study Mart  1086
Study Mart  1087
Study Mart  1088
Study Mart  1089
Study Mart  1090
Study Mart  1091
Study Mart  1092
Study Mart  1093
Study Mart  1094
Study Mart  1095
Study Mart  1096
Study Mart  1097
Study Mart  1098
Study Mart  1099
Study Mart  1100
Study Mart  1101
Study Mart  1102
Study Mart  1103
Study Mart  1104
Study Mart  1105
Study Mart  1106
Study Mart  1107
Study Mart  1108
Study Mart  1109
Study Mart  1110
Study Mart  1111
Study Mart  1112
Study Mart  1113
Study Mart  1114
Study Mart  1115
Study Mart  1116
Study Mart  1117
Study Mart  1118
Study Mart  1119
Study Mart  1120
Study Mart  1121
Study Mart  1122
Study Mart  1123
Study Mart  1124
Study Mart  1125
Study Mart  1126
Study Mart  1127
Study Mart  1128
Study Mart  1129
Study Mart  1130
Study Mart  1131
Study Mart  1132
Study Mart  1133
Study Mart  1134
Study Mart  1135
Study Mart  1136
Study Mart  1137
Study Mart  1138
Study Mart  1139
Study Mart  1140
Study Mart  1141
Study Mart  1142
Study Mart  1143
Study Mart  1144
Study Mart  1145
Study Mart  1146
Study Mart  1147
Study Mart  1148
Study Mart  1149
Study Mart  1150
Study Mart  1151
Study Mart  1152
Study Mart  1153
Study Mart  1154
Study Mart  1155
Study Mart  1156
Study Mart  1157
Study Mart  1158
Study Mart  1159
Study Mart  1160
Study Mart  1161
Study Mart  1162
Study Mart  1163
Study Mart  1164
Study Mart  1165
Study Mart  1166
Study Mart  1167
Study Mart  1168
Study Mart  1169
Study Mart  1170
Study Mart  1171
Study Mart  1172
Study Mart  1173
Study Mart  1174
Study Mart  1175
Study Mart  1176
Study Mart  1177
Study Mart  1178
Study Mart  1179
Study Mart  1180
Study Mart  1181
Study Mart  1182
Study Mart  1183
Study Mart  1184
Study Mart  1185
Study Mart  1186
Study Mart  1187
Study Mart  1188
Study Mart  1189
Study Mart  1190
Study Mart  1191
Study Mart  1192
Study Mart  1193
Study Mart  1194
Study Mart  1195
Study Mart  1196
Study Mart  1197
Study Mart  1198
Study Mart  1199
Study Mart  1200
Study Mart  1201
Study Mart  1202
Study Mart  1203
Study Mart  1204
Study Mart  1205
Study Mart  1206
Study Mart  1207
Study Mart  1208
Study Mart  1209
Study Mart  1210
Study Mart  1211
Study Mart  1212
Study Mart  1213
Study Mart  1214
Study Mart  1215
Study Mart  1216
Study Mart  1217
Study Mart  1218
Study Mart  1219
Study Mart  1220
Study Mart  1221
Study Mart  1222
Study Mart  1223
Study Mart  1224
Study Mart  1225
Study Mart  1226
Study Mart  1227
Study Mart  1228
Study Mart  1229
Study Mart  1230
Study Mart  1231
Study Mart  1232
Study Mart  1233
Study Mart  1234
Study Mart  1235
Study Mart  1236
Study Mart  1237
Study Mart  1238
Study Mart  1239
Study Mart  1240

RecursionError: maximum recursion depth exceeded while calling a Python object

# Factorial Using Recursion | Recursion Explained

In [253]:
def fnc(n):
    if n==0:
        return 1
    return n * fnc(n-1)

num=int(input("Enter any number:"))

result=fnc(num)
print("Result is = ",result)

Enter any number:5
Result is =  120

# Python Object-Oriented Programming | Programming Paradigms

Programming Paradigms in Python. 1. Declarative Programming:- 1. Functional Programming 2. Logic Programming 2. Mathematical Programming 2. Imperative Programming: 1. Procedural Programming 2. Object-Oriented - Programming (OOP)

# Python Small Project | Text to Audio Converter | Text to Speech | Python Mini Project with Codes

gTTS (Google Text-to-Speech)is a Python library and CLI tool to interface with Google Translate text-to-speech API. We will import the gTTS library from the gtts module which can be used for speech translation. The text variable is a string used to store the user's input. os=The os module is a part of the standard library, or stdlib, within Python 3. This means that it comes with your Python installation, but you still must import it. All of the following code assumes you have os imported. Because it is not a built-in function, you must always import

In [255]:
import os

from gtts import gTTS

fh=open('audio.txt','r')
myText=fh.read().replace('\n'," ")
language='en'
output=gTTS(text=myText,lang=language,slow=False)
output.save('output.mp3')
fh.close()
os.system('start output.mp3')

0

# Python small project | Stopwatch with source code | Python mini project | Stopwatch using Python

tkinter=Out of all the GUI methods, tkinter is the most commonly used method. It is a standard Python interface to the Tk GUI toolkit shipped with Python. Python with tkinter is the fastest and easiest way to create the GUI applications. Creating a GUI using tkinter is an easy task. time=Python has a module named time to handle time-related tasks.

In [256]:
from tkinter import *
import time

def Main():
    global root

    root = Tk()
    root.title("Stopwatch made by @StudyMart")
    width = 500
    height = 200
    screen_width = root.winfo_screenwidth()
    screen_height = root.winfo_screenheight()
    x = (screen_width / 2) - (width / 2)
    y = (screen_height / 2) - (height / 2)
    root.geometry("%dx%d+%d+%d" % (width, height, x, y))
    Top = Frame(root, width=400)
    Top.pack(side=TOP)

    stopWatch = StopWatch(root)
    stopWatch.pack(side=TOP)
    Bottom = Frame(root, width=400)
    Bottom.pack(side=BOTTOM)
    Start = Button(Bottom, text='START', command=stopWatch.Start, width=10, height=3)
    Start.pack(side=LEFT)
    Stop = Button(Bottom, text='STOP', command=stopWatch.Stop, width=10, height=3)
    Stop.pack(side=LEFT)
    Reset = Button(Bottom, text='RESET', command=stopWatch.Reset, width=10, height=3)
    Reset.pack(side=LEFT)
    Exit = Button(Bottom, text='CLOSE', command=stopWatch.Exit, width=10, height=3)
    Exit.pack(side=LEFT)
    Title = Label(Top, text="StopWatch @studymart", font=("arial", 24), fg="white", bg="black")
    Title.pack(fill=X)
    root.config(bg="black")
    root.mainloop()


class StopWatch(Frame):

    def __init__(self, parent=None, **kw):
        Frame.__init__(self, parent, kw)
        self.startTime = 0.0
        self.nextTime = 0.0
        self.onRunning = 0
        self.timestr = StringVar()
        self.MakeWidget()

    def MakeWidget(self):
        timeText = Label(self, textvariable=self.timestr, font=("times new roman", 45), fg="white", bg="black")
        self.SetTime(self.nextTime)
        timeText.pack(fill=X, expand=NO, pady=5, padx=10)

    def Updater(self):
        self.nextTime = time.time() - self.startTime
        self.SetTime(self.nextTime)
        self.timer = self.after(50, self.Updater)

    def SetTime(self, nextElap):
        minutes = int(nextElap / 60)
        seconds = int(nextElap - minutes * 60.0)
        miliSeconds = int((nextElap - minutes * 60.0 - seconds) * 100)
        self.timestr.set('%02d:%02d:%02d' % (minutes, seconds, miliSeconds))

    def Start(self):
        if not self.onRunning:
            self.startTime = time.time() - self.nextTime
            self.Updater()
            self.onRunning = 1

    def Stop(self):
        if self.onRunning:
            self.after_cancel(self.timer)
            self.nextTime = time.time() - self.startTime
            self.SetTime(self.nextTime)
            self.onRunning = 0

    def Exit(self):
            root.destroy()
            exit()

    def Reset(self):
        self.startTime = time.time()
        self.nextTime = 0.0
        self.SetTime(self.nextTime)


if __name__ == '__main__':
    Main()

# Python small project | Text Editor using Python | Text Editor using Python with source code

In [257]:
from tkinter import *
from tkinter import filedialog

def new_file():
    text.delete(0.0,END)

def open_file():
    file1=filedialog.askopenfile(mode='r')
    data=file1.read()
    text.delete(0.0,END)
    text.insert(0.0,data) #Inserts data

def save_file():
    filename="Untitled.txt"
    data=text.get(0.0,END)
    file1=open(filename,"w")
    file1.write(data)

def save_as():
    file1=filedialog.asksaveasfile(mode='w')
    data=text.get(0.0,END)
    file1.write(data)

gui=Tk() #tkinter object.
gui.title("Text Creator")
gui.geometry("800x1000")
text=Text(gui)
text.pack() #Display the text
mymenu=Menu()
list1=Menu()
list1.add_command(label='Create File',command=new_file) #Create menus.
list1.add_command(label='Save File',command=save_file)
list1.add_command(label='Save File As',command=save_as)
list1.add_command(label='Open File',command=open_file)
list1.add_command(label='Exit',command=gui.quit)
mymenu.add_cascade(label='File hamid',menu=list1) #Create a file option.
gui.config(menu=mymenu)
gui.mainloop()

# Python Small Project | Tic Tac Toe Using Python | Python Tic Tac Toe Game With Source Codes

In [258]:
from tkinter import Tk,ttk,Button
from tkinter import messagebox
from random import randint

ActivePlayer = 1
p1 = []
p2 = []
mov = 0

def SetLayout(id,player_symbol):
    if id==1:
        b1.config(text= player_symbol)
        b1.state(['disabled'])
    elif id==2:
        b2.config(text= player_symbol)
        b2.state(['disabled'])
    elif id==3:
        b3.config(text= player_symbol)
        b3.state(['disabled'])
    elif id==4:
        b4.config(text= player_symbol)
        b4.state(['disabled'])
    elif id==5:
        b5.config(text= player_symbol)
        b5.state(['disabled'])
    elif id==6:
        b6.config(text= player_symbol)
        b6.state(['disabled'])
    elif id==7:
        b7.config(text= player_symbol)
        b7.state(['disabled'])
    elif id==8:
        b8.config(text= player_symbol)
        b8.state(['disabled'])
    elif id==9:
        b9.config(text= player_symbol)
        b9.state(['disabled'])

def CheckWinner():
    global mov
    winner = -1

    if(1 in p1) and (2 in p1) and (3 in p1):
        winner = 1
    if(1 in p2) and (2 in p2) and (3 in p2):
        winner = 2

    if(4 in p1) and (5 in p1) and (6 in p1):
        winner = 1
    if(4 in p2) and (5 in p2) and (6 in p2):
        winner = 2

    if(7 in p1) and (8 in p1) and (9 in p1):
        winner = 1
    if(7 in p2) and (8 in p2) and (9 in p2):
        winner = 2

    if(1 in p1) and (4 in p1) and (7 in p1):
        winner = 1
    if(1 in p2) and (4 in p2) and (7 in p2):
        winner = 2

    if(2 in p1) and (5 in p1) and (8 in p1):
        winner = 1
    if(2 in p2) and (5 in p2) and (8 in p2):
        winner = 2

    if(3 in p1) and (6 in p1) and ( 9 in p1):
        winner = 1
    if(3 in p2) and (6 in p2) and (9 in p2):
        winner = 2

    if(1 in p1) and (5 in p1) and ( 9 in p1):
        winner = 1
    if(1 in p2) and (5 in p2) and (9 in p2):
        winner = 2

    if(3 in p1) and (5 in p1) and ( 7 in p1):
        winner = 1
    if(3 in p2) and (5 in p2) and (7 in p2):
        winner = 2

    if winner ==1:
        messagebox.showinfo(title="Congratulations!",
            message="First Player is the winner")
    elif winner ==2:
        messagebox.showinfo(title="Congratulations!",
            message="Second Player is the winner")
    elif mov ==9:
        messagebox.showinfo(title="Draw",
            message="Opps! It's a Draw Match!")

def ButtonClick(id):
    global ActivePlayer
    global p1,p2
    global mov

    if(ActivePlayer ==1):
        SetLayout(id,"X")
        p1.append(id)
        mov +=1
        root.title("Tic Tac Toe : Player Two")
        ActivePlayer =2

    elif(ActivePlayer==2):
        SetLayout(id,"O")
        p2.append(id)
        mov +=1
        root.title("Tic Tac Toe : Player One")
        ActivePlayer =1
    CheckWinner()
def AutoPlay():
    global p1; global p2
    Empty = []
    for cell in range(9):
        if(not((cell +1 in p1) or (cell +1 in p2))):
            Empty.append(cell+1)
    try:
        RandIndex = randint(0,len(Empty) -1)
        ButtonClick(Empty[RandIndex])
    except:
        pass
def EnableAll():
    b1.config(text= " ")
    b1.state(['!disabled'])
    b2.config(text= " ")
    b2.state(['!disabled'])
    b3.config(text= " ")
    b3.state(['!disabled'])
    b4.config(text= " ")
    b4.state(['!disabled'])
    b5.config(text= " ")
    b5.state(['!disabled'])
    b6.config(text= " ")
    b6.state(['!disabled'])
    b7.config(text= " ")
    b7.state(['!disabled'])
    b8.config(text= " ")
    b8.state(['!disabled'])
    b9.config(text= " ")
    b9.state(['!disabled'])


def Restart():
    global p1,p2,mov,ActivePlayer
    p1.clear(); p2.clear()
    mov,ActivePlayer = 0,1
    root.title("Tic Tac Toe : Player One")
    EnableAll()


root = Tk()
root.title("Tic Tac toe : Player One")
st = ttk.Style()
st.configure("my.TButton", font=('Chiller',24,'bold'))

b1 = ttk.Button(root, text=" ", style="my.TButton")
b1.grid(row=1, column=0, sticky="snew", ipadx=75,ipady=50)
b1.config(command = lambda : ButtonClick(1))


b2 = ttk.Button(root, text=" ",style ="my.TButton")
b2.grid(row=1, column=1, sticky="snew", ipadx=50, ipady=50)
b2.config(command = lambda : ButtonClick(2))

b3= ttk.Button(root, text=" ",style="my.TButton")
b3.grid(row=1, column=2, sticky="snew", ipadx=50,
        ipady=50)
b3.config(command = lambda : ButtonClick(3))

b4 = ttk.Button(root, text=" ",style="my.TButton")
b4.grid(row=2, column=0, sticky="snew", ipadx=50,
        ipady=50)
b4.config(command = lambda : ButtonClick(4))

b5 = ttk.Button(root, text=" ",style="my.TButton")
b5.grid(row=2, column=1, sticky="snew", ipadx=50,
        ipady=50)
b5.config(command = lambda : ButtonClick(5))

b6 = ttk.Button(root, text=" ",style="my.TButton")
b6.grid(row=2, column=2, sticky="snew", ipadx=50,
        ipady=50)
b6.config(command = lambda : ButtonClick(6))

b7 = ttk.Button(root, text=" ",style="my.TButton")
b7.grid(row=3, column=0, sticky="snew", ipadx=50,
        ipady=50)
b7.config(command = lambda : ButtonClick(7))

b8 = ttk.Button(root, text=" ",style="my.TButton")
b8.grid(row=3, column=1, sticky="snew", ipadx=50,
        ipady=50)
b8.config(command = lambda : ButtonClick(8))

b9 = ttk.Button(root, text=" ",style="my.TButton")
b9.grid(row=3, column=2, sticky="snew", ipadx=50,
        ipady=50)
b9.config(command = lambda : ButtonClick(9))

Button(text="Tic Tac Toe ", font=('times new roman', 18, 'bold'), bg='black', fg='white',
            border=5, width=8,command = lambda :Restart()).grid(row=0, column=1, sticky="we")
root.resizable(0,0)
root.mainloop()